# Библиотеки

In [3]:
import pandas as pd
import numpy as np
import os
from dbfread import DBF
from simpledbf import Dbf5
import xlrd
from datetime import datetime, date
from dateutil.relativedelta import relativedelta

import matplotlib.pyplot as plt
import seaborn as sb
import scipy.stats
import plotly.express as px

# pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
# pd.set_option('display.width', None)

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.width', None)

# Датасет с объединенными отчетами

In [3]:
RESULT = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Промежуточные датафреймы\RESULT.csv')
print(RESULT.shape)
RESULT.sample(3)

(31064, 40)

,DATE,REGN,BANK,Процентные доходы,Комиссионные доходы,Операционные доходы,Процентные расходы,Операционные расходы,"Корректировки, увеличивающие процентные доходы","Корректировки, уменьшающие процентные расходы",Доходы от восстановления (уменьшения) резервов на возможные потери,"Премии, уменьшающие процентные расходы",Доходы (кроме процентных) от операций с предоставленными кредитами и прочими размещенными средствами,Доходы (кроме процентных) от операций с приобретенными долговыми ценными бумагами,Доходы от операций с приобретенными долевыми ценными бумагами и цифровыми финансовыми активами,"Доходы от операций с полученными кредитами, а также с прочими привлеченными средствами и выпущенными долговыми ценными бумагами","Доходы от операций с производными финансовыми инструментами, от операций хеджирования и от операций с цифровыми финансовыми активами",Комиссионные и аналогичные доходы,Прибыль до налогообложения,Убыток до налогообложения,Налог на прибыль,Прибыль после налогообложения,Убыток после налогообложения,Финансовый результат,ASSETS,CAPITALandLIABILITIES,CAPITAL,FIN_RESULT,LOAN_PORTFOLIO,DEPOSITS,NPL,RESERVES,Н1.0,Н1.1,Н1.2,Н2,Н3,Н4,Н7,EQUITY
6398,20130101,347,"ООО ""НОВЫЙ КОММЕРЧЕСКИЙ БАНК""",33735.0,22891.0,22521.0,10843.0,65154.0,NaN,NaN,1156.0,21365.0,7723.0,104.0,NaN,1180.0,25949.0,6330.0,10679.0,0.0,2404.0,8275.0,0.0,8275.0,990891.0,990891.0,180738.0,89990.0,306674.0,59299.0,1446.0,NaN,45.33,NaN,NaN,83.69,87.24,31.48,56.71,188694.0
236,20110401,1242,"ПАО ""Липецккомбанк""",409047.0,70296.0,998654.0,1768.0,1102743.0,4871.0,0.0,269073.0,724710.0,202650.0,8720.0,343.0,268834.0,694959.0,2288.0,163364.0,0.0,14993.0,148371.0,0.0,148371.0,25874999.0,25874999.0,1630389.0,1644167.0,14692728.0,11021126.0,556913.0,NaN,12.79,NaN,NaN,57.91,61.00,91.68,463.77,2166581.0
6862,20130101,2646,"АО ""БАНК РЕАЛИСТ""",95854.0,26402.0,871744.0,140.0,963185.0,14986.0,3447.0,188955.0,664356.0,19622.0,1305.0,62588.0,138030.0,675644.0,172.0,9856.0,0.0,5568.0,4288.0,0.0,4288.0,2479128.0,2479128.0,378299.0,994140.0,697695.0,316995.0,71607.0,NaN,29.29,NaN,NaN,67.74,99.24,54.85,193.70,456616.0

In [5]:
print(RESULT.shape)
MISSING = (RESULT.isna().sum() / len(RESULT))*100
MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
MISSING['Missing_count'] = RESULT.isna().sum()
MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
MISSING

(31064, 40)

,"Share_of_missing, %",Missing_count
RESERVES,77.78,24163
Н1.1,46.89,14566
Н1.2,39.61,12304
Н7,17.75,5515
Финансовый результат,14.15,4397
Н4,12.39,3848
Убыток после налогообложения,12.36,3840
Н2,12.25,3806
NPL,12.15,3774
"Корректировки, уменьшающие процентные расходы",8.90,2765
DEPOSITS,6.81,2115
Доходы от операций с приобретенными долевыми ценными бумагами и цифровыми финансовыми активами,6.37,1979
"Корректировки, увеличивающие процентные доходы",5.87,1824
LOAN_PORTFOLIO,4.94,1536
Н3,4.77,1483
Процентные доходы,2.89,897
Доходы (кроме процентных) от операций с приобретенными долговыми ценными бумагами,2.81,872
Налог на прибыль,2.50,778
Процентные расходы,2.44,758
Операционные доходы,2.40,746
Операционные расходы,2.26,703
Прибыль после налогообложения,1.84,572
"Премии, уменьшающие процентные расходы",1.70,529
"Доходы от операций с полученными кредитами, а также с прочими привлеченными средствами и выпущенными долговыми ценными бумагами",1.68,523
"Доходы от операций с производными финансовыми инструментами, от операций хеджирования и от операций с цифровыми финансовыми активами",1.66,515
Доходы от восстановления (уменьшения) резервов на возможные потери,1.48,460
Доходы (кроме процентных) от операций с предоставленными кредитами и прочими размещенными средствами,1.41,437
Н1.0,1.38,430
Убыток до налогообложения,1.34,416
Комиссионные доходы,0.63,197
Комиссионные и аналогичные доходы,0.58,180
Прибыль до налогообложения,0.37,114
FIN_RESULT,0.27,84
CAPITAL,0.25,79
DATE,0.00,0
CAPITALandLIABILITIES,0.00,0
ASSETS,0.00,0
REGN,0.00,0
BANK,0.00,0
EQUITY,0.00,0

In [7]:
# В датасете всего строк, где хотя бы раз встречаются пропуски:
RESULT[RESULT.isna().any(axis=1)].shape

(27629, 40)

# Собираем data_initial

Расчитаем финансовые показатели. Для этого необходимо собрать промежуточные показатели такие как:
- обязателдьства банка (LIABILITIES)
- прибыль до налогообложения (EBT)
- чистая прибыль = прибль после налогообложения (Net_Profit)
- комиссионные доходы (Commission_Income)
- прочие доходы (Other_Income)

In [ ]:
pd.set_option('display.max_columns', None)
# pd.reset_option('display.max_columns')

RESULT = RESULT.rename(columns={'Процентные доходы': 'Interest_Income', 'Операционные доходы':'Operating_Income',
                                'Комиссионные доходы' : 'Commission_Income', 
                                'Процентные расходы' : 'Interest_Expense', 'Операционные расходы' : 'Operating_Expense',
                                'Прибыль до налогообложения' : 'Profit_before_Tax', 'Убыток до налогообложения': 'Loss_before_Tax', 
                                'Налог на прибыль' : 'Tax',
                                'Прибыль после налогообложения': 'Profit_after_Loss', 'Убыток после налогообложения': 'Loss_after_Tax',
                                'Финансовый результат': 'Financial_Result'})

RESULT['LIABILITIES'] = RESULT['ASSETS'] - RESULT['EQUITY']
RESULT['EBT'] = RESULT['Profit_before_Tax'] - RESULT['Loss_before_Tax']
RESULT['Net_Profit'] = RESULT['Profit_after_Loss'] - RESULT['Loss_after_Tax']
RESULT['Commission_Income'] = RESULT['Commission_Income'] + RESULT['Комиссионные и аналогичные доходы']
RESULT['Other_Income'] = (RESULT['Доходы (кроме процентных) от операций с предоставленными кредитами и прочими размещенными средствами']
                          + RESULT['Доходы (кроме процентных) от операций с приобретенными долговыми ценными бумагами'] 
                          + RESULT['Доходы от операций с приобретенными долевыми ценными бумагами и цифровыми финансовыми активами']
                          + RESULT['Доходы от операций с полученными кредитами, а также с прочими привлеченными средствами и выпущенными долговыми ценными бумагами']
                          + RESULT['Доходы от операций с производными финансовыми инструментами, от операций хеджирования и от операций с цифровыми финансовыми активами'])

columns_to_drop = ['Корректировки, увеличивающие процентные доходы', 'Корректировки, уменьшающие процентные расходы', 
                   'Доходы от восстановления (уменьшения) резервов на возможные потери', 'Премии, уменьшающие процентные расходы',
                   'Комиссионные и аналогичные доходы',
                   'Доходы (кроме процентных) от операций с предоставленными кредитами и прочими размещенными средствами',
                   'Доходы (кроме процентных) от операций с приобретенными долговыми ценными бумагами', 
                   'Доходы от операций с приобретенными долевыми ценными бумагами и цифровыми финансовыми активами',
                   'Доходы от операций с полученными кредитами, а также с прочими привлеченными средствами и выпущенными долговыми ценными бумагами',
                   'Доходы от операций с производными финансовыми инструментами, от операций хеджирования и от операций с цифровыми финансовыми активами',
                   'Profit_before_Tax', 'Loss_before_Tax', 'Profit_after_Loss', 'Loss_after_Tax', 'Financial_Result', 
                  'CAPITAL', 'FIN_RESULT']

RESULT = RESULT.drop(columns_to_drop, axis=1)
data = RESULT[['DATE', 'REGN', 'BANK', 'Interest_Income', 'Commission_Income','Operating_Income', 'Other_Income', 
               'Interest_Expense', 'Operating_Expense', 
               'EBT', 'Tax', 'Net_Profit',
               'ASSETS', 'LIABILITIES','EQUITY', 'LOAN_PORTFOLIO','DEPOSITS', 'NPL', 
               'Н1.0', 'Н1.1', 'Н1.2', 'Н2', 'Н3', 'Н4', 'Н7']]

## Финансовые показатели

Далее рассчитаем основные финансовые показатели, которые будут использованы в исследовании:

Показатели рентабельности:

1. ROE – рентабельность капитала рассчитывается как отношение чистой прибыли к собственным средствам банка. ROE иногда может быть высоким из-за сильной долговой нагрузки (левериджа). Для банков ROE > 15% часто сопровождается повышенными рисками.

2. ROA – рентабельность активов рассчитывается как отношение чистой прибыли к общим активам банка. Чем выше ROA, тем больше активы генерируют прибыль. Для банков низкий ROA может быть связан с большими резервами под кредитные риски или низкой маржинальностью операций.

3. NIM – чистая процентная маржа рассчитывается как отношение чистого процентного дохода (разница между процентными доходами и процентными расходами) к кредитному портфелю банка. Отражает отдачу на вложенные активы в основной деятельности банка, то есть в чистом процентном доходе.


Показатели бизнес-стратегии банка (структуры баланса):

4. LTD – отношение выданных кредитов к привлеченным средствам клиентов. Показывает, насколько банк зависит от привлеченных средств (депозитов) для финансирования кредитов. Чем ближе значение к 100%, тем больше средств клиентов тратится на основную деятельность банка. Если LTD < 70% - банк мало кредитует, LTD в диапазоне 70-90% - оптимальное значение, LTD – 90-100% говорит о повышенном риске, т.к. банк привлекает короткие деньги, а если LTD > 100% – это признак риска дефицита ликвидности.

5. Доля кредитного портфеля в активах банка (loan_share) рассчитывается как отношения выданных кредитов к общим активам банка. 

6. Также рассчитывается отношение средств клиентов (депозитов) к общим активам банка (dep_to_assets).


Показатели кредитного риска:

7. NPLR – доля просроченных кредитов в кредитном портфеле банка. Чем выше NPLR, тем выше кредитный риск. Если NPLR < 3% - низкий кредитный риск, NPLR в диапазоне 5%-10% говорит о высоком кредитном риске, а NPLR > 10% – критический уровень (угроза капиталу банка).


Меры общего риска:

8. CAR – отношение собственных средств к активам. Показывает долю активов, финансируемых за счет собственного капитала, а не заемных средств. Чем выше показатель, тем ниже зависимость от заемного финансирования. CAR равный 10% и выше – это запас прочности, CAR < 5% – тревожный сигнал (высокий левередж).

In [12]:
data['ROE'] = (data['Net_Profit'] / data['EQUITY']) *100
data['ROA'] = (data['Net_Profit'] / data['ASSETS']) *100
data['NIM'] = (data['Interest_Income'] - data['Interest_Expense'])/data['LOAN_PORTFOLIO']

data['LTD'] = data['LOAN_PORTFOLIO'] / data['DEPOSITS']
data['loan_share'] = data['LOAN_PORTFOLIO'] / data['ASSETS']*100
data['deposit_share'] = data['DEPOSITS'] / data['LIABILITIES']*100
data['dep_to_assets'] = data['DEPOSITS'] / data['ASSETS']*100

data['NPLR'] = data['NPL'] / data['LOAN_PORTFOLIO']*100

data['CAR'] = data['EQUITY'] / data['ASSETS']*100

Также были рассчитаны такие показатели как:

9. Bank_Size – размер банка рассчитывается как натуральный логарифм от общих активов банка. Сглаживает разницу между очень крупными и мелкими банками и контролирует размер банка в одной модели.

10. Leverage – финансовый рычаг или мультипликатор собственного капитала, который рассчитывается как отношение активов к собственным средствам банка. Показывает степень использования заемных средств для финансирования активов. Чем выше финансовый рычаг, тем больше банк зависит от заемных средств. Если Leverage > 15% , то у банка высокая зависимость от заемных средств (выше доходность, но и выше риск дефолта), а если Leverage < 10%, то у банка консервативная политика (ниже доходность, но выше устойчивость). Также важно отметить, что высокий левередж усиливает чувствительность к прочим рискам.

11. CIR – отношение операционных расходов к операционным доходам. Если CIR меньше 1, то банк получает прибыль от своей операционной деятельности. Чем ниже CIR, тем меньше средств тратит банк на содержание персонала и административные расходы.

И прочие финансовые показатели, которые были опробованы в качестве контрольных переменных

In [ ]:
data['Bank_Size'] = np.log(data['ASSETS'])
data['Revenue'] = data['Interest_Income'] + data['Commission_Income'] + data['Operating_Income'] + data['Other_Income']
data['Leverage'] = data['ASSETS'] / data['EQUITY']
data['CIR'] = data['Operating_Expense'] / data['Operating_Income'] 
data['Net_Profit_Margin'] = data['Net_Profit'] / data['Revenue']*100
data['Asset_Turnover'] = data['Revenue'] / data['ASSETS']*100
data['Tax_Burder'] = data['Net_Profit'] / data['EBT']*100

# было 36 наблюдений, где DEPOSITS > LIABILITIES (видимо при расчтете обязательств), в этих наблюдениях deposit_share = dep_to_assets
mask = data['deposit_share'] > 1
data.loc[mask, 'deposit_share'] = data.loc[mask, 'DEPOSITS'] / (data.loc[mask, 'LIABILITIES'] + data.loc[mask, 'EQUITY'])

print(data.shape)
data.sample(5)

## Z-score

Также рассчитаем меру общего риска:

Z-score – показатель вероятности банкротства для банков. Рассчитывается как отношение суммы рентабельности активов (ROA) и отношения собственных средств к активам (CAR) к волатильности рентабельности активов (см. формула 1). Под волатильностью понимается стандартное отклонение от рентабельности активов. Показатель Z-score оценивает, насколько банк далек от дефолта. Чем выше Z-score, тем стабильнее банк.

In [13]:
# Замена бесконечностей на NaN
data = data.replace([np.inf, -np.inf], np.nan)

In [15]:
data['Z-score'] = (data['ROA'] + data['CAR']) / np.std(data['ROA'])
data['Z-score_RWA'] = (data['ROA'] + data['Н1.0']) / np.std(data['ROA'])

## Добавление year, month в датасет

Добавим даты в датасет (год, месяц и затем добавим кварталы, где на начало 4 месяца (апрель) будут значения за первый квартал (по аналогии для других месяцев)

In [17]:
data['REGN'] = data['REGN'].astype(int)
data['DATE'] = data['DATE'].astype(str)
data['DATE'] = pd.to_datetime(data['DATE'])

data['year'] = data['DATE'].dt.year
columns = list(data.columns)
last_col = columns.pop(-1) 
columns.insert(1, last_col) 
data = data[columns]

data['month'] = data['DATE'].dt.month
columns = list(data.columns)
last_col = columns.pop(-1) 
columns.insert(2, last_col)
data = data[columns]

data['year'] = data['year'].astype(str)
data['month'] = data['month'].astype(str)

In [19]:
data['shifted_date'] = data['DATE'] - pd.DateOffset(months=3)

data['fiscal_quarter'] = data['shifted_date'].dt.to_period('Q')
data['fiscal_year'] = data['shifted_date'].dt.year
data['custom_quarter'] = data['fiscal_quarter'].astype(str)

data = data.rename(columns={'year' : 'year_initial', 'month': 'month_initial'})
data['year'] =data['custom_quarter'].str.extract(r'(\d{4})')
data['quarter'] =  data['custom_quarter'].astype(str)
data['quarter'] = data['quarter'].str.extract(r'Q(\d)')
data['quarter'] = data['quarter'].astype(int)
data['year'] = data['year'].astype(int)

Сократим переменные и выберем переменные

In [21]:
data = data[['DATE', 'year', 'quarter', 'REGN', 'BANK', 'Bank_Size', 
             'ROE', 'ROA', 'NIM', 'CIR', 'CAR', 'LTD', 'NPLR', 'Z-score', 'Z-score_RWA',
             'loan_share', 'deposit_share', 'dep_to_assets',
             'Leverage', 'Net_Profit_Margin', 'Asset_Turnover', 'Tax_Burder', 
             'Н1.0', 'Н2', 'Н3', 'Н4', 'Н7']]

# Удалим 2010, т.к. там совсем мало наблюднеий
data = data[data.year >= 2011]
print(data.shape)
data.head()

(31047, 27)

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7
17,2011-04-01,2011,1,1,ЮНИКРЕДИТ БАНК,20.549207,3.533333,0.301535,0.023705,1.039989,8.533997,1.961601,4.118967,4.049471,6.999198,45.307291,0.230971,23.097102,11.717838,1.321371,22.819821,84.143203,14.97,72.11,66.86,97.60,135.33
18,2011-04-01,2011,1,2,ВИКИНГ,14.257721,1.528449,0.521417,0.024426,1.304806,34.114153,6.508572,7.464661,15.874057,17.590841,84.553476,0.129911,12.991094,2.931335,3.202621,16.280959,100.000000,37.86,24.46,62.98,97.40,177.26
19,2011-04-01,2011,1,5,"Банк ""Кредит-Москва"" (ПАО)",16.119476,4.499332,0.257844,0.046135,1.118311,5.730712,0.971581,1.934965,2.744655,6.158787,27.642929,0.284515,28.451491,17.449837,2.138626,12.056513,91.869774,13.18,47.62,78.89,92.92,361.49
20,2011-04-01,2011,1,18,"ОАО КБ ""Стройкредит""",17.271562,1.400247,0.112632,0.033841,1.122865,8.043751,1.063880,8.157994,3.738206,9.259202,29.363328,0.276002,27.600226,12.432011,1.403576,8.024673,98.684029,20.09,44.91,63.13,67.49,171.62
21,2011-04-01,2011,1,21,ПРИМОРСКИЙ ТЕРРИТОРИАЛЬНЫЙ,13.780058,NaN,NaN,0.048577,1.683678,16.081536,1.720043,4.275223,NaN,NaN,59.198130,0.344167,34.416667,6.218311,NaN,12.888831,NaN,24.28,61.75,98.28,88.60,279.22

In [23]:
print(data.shape)
MISSING = (data.isna().sum() / len(data))*100
MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
MISSING['Missing_count'] = data.isna().sum()
MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
MISSING

(31047, 27)

                   Share_of_missing, %  Missing_count
Net_Profit_Margin                18.04           5602
Н7                               17.71           5499
Z-score_RWA                      15.40           4780
Tax_Burder                       14.30           4439
ROE                              14.16           4396
ROA                              14.16           4396
Z-score                          14.16           4396
Н4                               12.35           3834
NPLR                             12.27           3811
Н2                               12.21           3791
Asset_Turnover                    9.50           2948
LTD                               8.11           2518
NIM                               7.65           2375
dep_to_assets                     6.82           2116
deposit_share                     6.82           2116
loan_share                        4.95           1537
Н3                                4.74           1472
CIR                               2.51            779
Н1.0                              1.34            415
quarter                           0.00              0
Bank_Size                         0.00              1
REGN                              0.00              0
Leverage                          0.00              1
BANK                              0.00              0
year                              0.00              0
CAR                               0.00              1
DATE                              0.00              0

In [25]:
data[data.isna().any(axis=1)].shape ## пропусков стало меньше, т.к. я дропнула сомнительные колонки при расчете показателей

(11948, 27)

## Добавляем санкции

Данные по введенным санкциям к банкам взяты со следующих источников:
1. База данных OFAC по введенным ими санкциям против РФ:https://sanctionssearch.ofac.treas.gov/Default.aspx
2. Информации по конкретным кредитным организациям: https://checko.ru/
3. SDN-list и SSI-list : https://www.profbanking.com/blitz-answer/4589-sdn%20
4. Отключение от SWIFT: https://www.banki.ru/news/daytheme/?id=10965728
5. Даты ввекдения санкций: https://gogov.ru/articles/sanctioned-banks

Санкции, введенные до 2022 г. в период с 2014 по 2021 гг.:
https://tass.ru/info/19188151

Сбербанк, Внешэкономбанк (не является КО), Газпромбанк, ВТБ, Россельхозбанк, Промсвязьбанк, Северный Морской Путь и Российский Национальный Коммерческий банк

In [27]:
sanctions = pd.read_excel(r"C:\Users\annaz\Documents\Диплом\Macro data\sanctions.xlsx", sheet_name = 'SANCTIONS')
sanctions.head()

,BANK,REGN,Date_of_sanctions_2014,SDN-list_2014,SSI-list_2014,Date_of_sanctions_2022,SWIFT,SDN-list_2022,san_Australia,san_Britan,san_Euro_Union,san_Canada,san_New_Zealand,san_USA,san_Ukraine,san_France,san_Switzerland,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS,Date_of_sys_importance,sys_importance,CEO_under_sanctions
0,СБЕРБАНК РОССИИ,1481,2014-09-12,0,1,2022-04-06,1,1,0,1,0,0,0,1,0,0,0,1,1,1,2015-01-01,1,NaN
1,ВТБ,1000,2014-07-29,0,1,2022-02-22,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2015-01-01,1,NaN
2,ПРОМСВЯЗЬБАНК,3251,2014-04-01,0,1,2022-02-22,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2015-01-01,1,NaN
3,АЛЬФА-БАНК,1326,NaT,0,0,2022-02-25,0,1,1,1,1,1,1,1,1,1,1,0,1,1,2015-01-01,1,NaN
4,ТБанк,2673,NaT,0,0,2023-02-25,0,1,0,1,1,1,0,1,0,1,1,0,1,1,2021-10-11,1,NaN

In [29]:
sanctions['Date_of_sanctions_2014'] = pd.to_datetime(sanctions['Date_of_sanctions_2014'])
sanctions['Date_of_sanctions_2022'] = pd.to_datetime(sanctions['Date_of_sanctions_2022'])
sanctions['Date_of_sys_importance'] = pd.to_datetime(sanctions['Date_of_sys_importance'])
data['DATE'] = data['DATE'].astype(str)
data['DATE'] = pd.to_datetime(data['DATE'])

data = data.merge(sanctions[['REGN', 'Date_of_sys_importance', 'sys_importance', 'Date_of_sanctions_2014', 'SDN-list_2014', 'SSI-list_2014',
                             'Date_of_sanctions_2022', 'SWIFT', 'SDN-list_2022', 'san_Australia','san_Britan', 'san_Euro_Union', 
                             'san_Canada', 'san_New_Zealand', 'san_USA', 'san_Ukraine', 'san_France','san_Switzerland',
                            'SANCTIONS_2014', 'SANCTIONS_2022', 'SANCTIONS']], on=['REGN'], how='left')

print(data.shape)
data.sample(3)

(31047, 47)

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,Date_of_sys_importance,sys_importance,Date_of_sanctions_2014,SDN-list_2014,SSI-list_2014,Date_of_sanctions_2022,SWIFT,SDN-list_2022,san_Australia,san_Britan,san_Euro_Union,san_Canada,san_New_Zealand,san_USA,san_Ukraine,san_France,san_Switzerland,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS
7455,2013-04-01,2013,1,1309,"АО БАНК ""НБТ""",13.121181,2.869153,1.081078,0.040803,1.494576,37.679337,2.926357,3.674463,17.764541,24.717508,49.785847,0.170129,17.012909,2.653975,19.210105,5.627652,100.000000,52.850,91.04,86.150,73.09,24.17,NaT,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27241,2021-04-01,2021,1,1949,НАЦИОНАЛЬНЫЙ БАНК СБЕРЕЖЕНИЙ,14.545332,-1.916445,-0.287655,0.018504,2.540416,15.009801,0.615987,1.319267,6.747404,38.465295,15.264343,0.247803,24.780319,6.662313,-9.850948,2.920069,100.000000,84.215,NaN,133.026,NaN,NaN,NaT,0.0,NaT,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1719,2011-07-01,2011,2,3326,ЗАО УРП,11.773056,3.007113,0.514995,NaN,1.427718,17.125896,NaN,NaN,8.085113,102.619375,NaN,NaN,NaN,5.839110,2.414516,21.329119,87.779238,223.390,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Мы ранее просто присоединили датасет с санкциями к исходному датасету, но в нем у нас были колонки с данными о дате введения санкций в период с 2014 по 2022 и после 2022 года "Date_of_sanctions_2014" и "Date_of_sanctions_2022". Логично считать, что если в нашем датасете встречается банк, который с определенного момента времени "Date_of_sanctions_2014"/"Date_of_sanctions_2022" под санкциями, то раньше этой даты банк не был в санкционных списках и не нужно вводить дамми = 1 на тот период, когда банк не был под санкциями. 

Тогда исправим итоговый датасет в соответсвии с этой логикой.

Поправим наблюдения, где санкции были введены в период с 2014 по 2022 годы (те банки, у которых 'SDN-list_2014', 'SSI-list_2014' равны единицам)

In [31]:
columns_to_update = ['SDN-list_2014', 'SSI-list_2014', 'SANCTIONS_2014']

for col in columns_to_update:
    mask = data['DATE'] >= data['Date_of_sanctions_2014']
    data.loc[mask, f'{col}'] = data.loc[mask, f'{col}']
    data.loc[~mask, f'{col}'] = 0

print(data[data['DATE'] >= data['Date_of_sanctions_2014']].shape[0])
data.sample(3)

751

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,Date_of_sys_importance,sys_importance,Date_of_sanctions_2014,SDN-list_2014,SSI-list_2014,Date_of_sanctions_2022,SWIFT,SDN-list_2022,san_Australia,san_Britan,san_Euro_Union,san_Canada,san_New_Zealand,san_USA,san_Ukraine,san_France,san_Switzerland,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS
3338,2012-01-01,2011,4,2857,"ООО КБ ""Контраст-банк""",14.897070,2.700377,0.206390,0.144962,1.321653,7.642994,7.941433,12.534841,3.597503,7.629317,41.093136,0.051745,5.174524,13.083877,0.531082,38.862080,62.571957,16.44,50.93,59.04,20.91,310.78,NaT,NaN,NaT,0.0,0.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4671,2012-07-01,2012,2,715,"КБ ""НАФТАБАНК"" ООО",13.869003,NaN,NaN,0.097063,1.511200,18.210928,2.709472,NaN,NaN,NaN,41.688082,0.153861,15.386052,5.491208,NaN,NaN,NaN,36.20,102.11,102.62,83.96,68.34,NaT,NaN,NaT,0.0,0.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
17783,2016-07-01,2016,2,2407,МВС БАНК,13.337249,0.632556,0.336044,0.048975,1.391167,53.124738,3.170285,6.956371,24.501963,47.177297,34.492305,0.108799,10.879876,1.882362,2.417595,13.899913,73.241913,102.60,281.14,269.25,35.09,6.06,NaT,0.0,NaT,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
data[(data.DATE >= data.Date_of_sanctions_2014) & (data['SANCTIONS_2014'] ==0)]

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,Date_of_sys_importance,sys_importance,Date_of_sanctions_2014,SDN-list_2014,SSI-list_2014,Date_of_sanctions_2022,SWIFT,SDN-list_2022,san_Australia,san_Britan,san_Euro_Union,san_Canada,san_New_Zealand,san_USA,san_Ukraine,san_France,san_Switzerland,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS
27928,2021-10-01,2021,3,841,ВАЙЛДБЕРРИЗ,13.827457,-5.823616,-1.891962,0.128776,1.300179,32.487762,2.407856,0.980215,14.022563,28.072367,26.744090,0.111070,11.107016,3.078082,-6.999145,27.031337,94.487762,63.143,NaN,177.796,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
28297,2022-01-01,2021,4,841,ВАЙЛДБЕРРИЗ,13.904777,-9.464889,-2.759994,0.126070,1.319529,29.160341,2.721467,2.371704,12.099717,22.551471,29.057265,0.106771,10.677061,3.429315,-8.536102,32.333186,95.866955,51.965,NaN,119.609,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
28662,2023-07-01,2023,2,841,ВАЙЛДБЕРРИЗ,14.160037,8.353821,2.443739,NaN,NaN,29.252948,20.898730,10.794683,14.527118,39.022330,24.258337,0.011608,1.160756,3.418459,NaN,NaN,96.313776,82.699,NaN,127.759,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
29018,2023-10-01,2023,3,841,ВАЙЛДБЕРРИЗ,15.095114,14.519273,1.779754,NaN,NaN,12.257876,25.897510,16.075748,6.433679,34.147682,11.280410,0.496431,0.435579,8.158020,NaN,NaN,89.140580,72.727,NaN,101.236,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
29373,2024-01-01,2023,4,841,ВАЙЛДБЕРРИЗ,15.414209,31.059660,3.445847,0.248897,0.924759,11.094285,14.927447,40.154334,6.663984,55.057044,4.791541,0.361044,0.320989,9.013650,5.001568,68.895332,90.603306,116.683,NaN,109.689,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
29726,2024-04-01,2024,1,841,ВАЙЛДБЕРРИЗ,16.542185,52.530319,4.625645,0.041284,0.211458,8.805668,21.158933,26.707711,6.155794,103.220068,2.076852,0.107633,0.098155,11.356322,33.710694,13.721596,93.552972,220.590,NaN,108.507,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
30074,2024-07-01,2024,2,841,ВАЙЛДБЕРРИЗ,16.988131,87.160354,20.029556,0.036543,0.125726,22.980122,NaN,8.225926,19.712049,174.172936,5.850651,NaN,NaN,4.351587,36.674286,54.614712,86.517312,359.998,NaN,129.931,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
30421,2024-10-01,2024,3,841,ВАЙЛДБЕРРИЗ,17.292824,94.507338,35.443360,0.746433,0.082346,37.503289,NaN,8.385283,33.432660,361.077104,4.302540,NaN,NaN,2.666433,39.565087,89.582414,84.054684,752.390,NaN,173.407,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
30765,2025-01-01,2024,4,841,ВАЙЛДБЕРРИЗ,18.033888,102.799967,32.109760,0.668604,0.095052,31.235185,NaN,1.759233,29.032040,363.436243,6.009573,NaN,NaN,3.201518,39.898072,80.479479,84.424882,760.871,NaN,154.599,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0

Обратим внимание, что банк ВАЙЛДБЕРИС хоть и имеет данные в колонке Date_of_sanctions_2014, но у него нет единичек в колонках SDN-list и SSI-list. Это связано с тем, что в конце 2021 года против банка ВАЙЛДБЕРИС были ведены санкции не OFAC, а санкции Украины. Поэтому для банка ВАЙЛДБЕРИС поставим SANCTIONS_2022=1 и SANCTIONS=1.

In [35]:
data.loc[(data['REGN'] == 841) & (data['DATE'] >= data.Date_of_sanctions_2014), 'SANCTIONS_2022'] = 1
data.loc[(data['REGN'] == 841) & (data['DATE'] < data.Date_of_sanctions_2014), 'SANCTIONS_2022'] = 0

data.loc[(data['REGN'] == 841) & (data['DATE'] >= data.Date_of_sanctions_2014), 'SANCTIONS'] = 1
data.loc[(data['REGN'] == 841) & (data['DATE'] < data.Date_of_sanctions_2014), 'SANCTIONS'] = 0

data[data.REGN==841]

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,Date_of_sys_importance,sys_importance,Date_of_sanctions_2014,SDN-list_2014,SSI-list_2014,Date_of_sanctions_2022,SWIFT,SDN-list_2022,san_Australia,san_Britan,san_Euro_Union,san_Canada,san_New_Zealand,san_USA,san_Ukraine,san_France,san_Switzerland,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS
142,2011-04-01,2011,1,841,ВАЙЛДБЕРРИЗ,13.079093,0.137411,0.026941,0.041675,4.496236,19.606078,2.104400,0.769816,8.998138,19.252478,30.764411,0.146191,14.619089,5.100459,1.214118,2.218969,100.000000,41.980,86.430,87.450,57.930,170.950,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1061,2011-07-01,2011,2,841,ВАЙЛДБЕРРИЗ,12.987032,1.058703,0.229899,0.086158,4.441339,21.715177,1.846600,0.604113,10.057793,15.491055,38.055657,0.206085,20.608500,4.605074,3.958054,5.808391,97.098646,33.570,56.430,79.920,72.350,227.680,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1979,2011-10-01,2011,3,841,ВАЙЛДБЕРРИЗ,12.996582,2.640949,0.576996,0.125476,3.183869,21.848067,1.735510,0.806679,10.277779,19.747486,40.149783,0.231343,23.134288,4.577064,5.588752,10.324243,86.178862,42.510,79.130,74.010,87.630,186.900,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2889,2012-01-01,2011,4,841,ВАЙЛДБЕРРИЗ,13.526270,2.541177,0.639529,0.129085,3.308769,25.166660,4.008500,0.399152,11.827405,27.562944,33.188619,0.082796,8.279561,3.973511,7.676033,8.331508,82.483638,59.500,79.380,88.070,47.690,124.440,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3790,2012-04-01,2012,1,841,ВАЙЛДБЕРРИЗ,13.209225,NaN,NaN,0.039850,5.206736,35.007600,3.165957,0.375599,NaN,NaN,53.407118,0.168692,16.869189,2.856523,NaN,NaN,NaN,55.540,68.540,87.410,34.180,126.470,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4692,2012-07-01,2012,2,841,ВАЙЛДБЕРРИЗ,13.435753,NaN,NaN,0.078072,2.975352,28.374172,1.649396,0.484079,NaN,NaN,46.297003,0.280691,28.069067,3.524332,NaN,NaN,NaN,46.140,51.900,85.650,47.970,167.390,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5585,2012-10-01,2012,3,841,ВАЙЛДБЕРРИЗ,13.560701,NaN,NaN,0.129545,3.087432,25.419836,2.636661,0.594296,NaN,NaN,39.121414,0.148375,14.837484,3.933936,NaN,NaN,NaN,46.130,78.070,92.310,65.490,126.990,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6478,2013-01-01,2012,4,841,ВАЙЛДБЕРРИЗ,13.505077,NaN,NaN,0.195607,3.324936,27.285785,2.536354,0.780229,NaN,NaN,36.957480,0.145711,14.571105,3.664912,NaN,NaN,NaN,49.190,58.020,74.260,57.530,129.290,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7364,2013-04-01,2013,1,841,ВАЙЛДБЕРРИЗ,13.549628,NaN,NaN,0.049088,4.234315,26.414917,2.932740,1.284279,NaN,NaN,35.654881,0.121575,12.157531,3.785740,NaN,NaN,NaN,51.950,94.220,106.920,44.490,98.870,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8256,2013-07-01,2013,2,841,ВАЙЛДБЕРРИЗ,13.622557,NaN,NaN,0.085191,3.587266,27.190850,2.034703,0.963827,NaN,NaN,36.693349,0.180338,18.033765,3.677708,NaN,NaN,NaN,47.060,96.540,120.970,70.920,135.300,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9145,2013-10-01,2013,3,841,ВАЙЛДБЕРРИЗ,13.675274,NaN,NaN,0.129290,3.196486,25.848729,1.705114,2.441296,NaN,NaN,35.336931,0.207241,20.724084,3.868662,NaN,NaN,NaN,39.090,72.110,111.360,81.500,158.720,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10015,2014-01-01,2013,4,841,ВАЙЛДБЕРРИЗ,13.634159,NaN,NaN,0.169379,2.987742,26.945532,1.691926,1.109129,NaN,NaN,38.241570,0.226024,22.602387,3.711190,NaN,NaN,NaN,43.420,66.880,79.740,69.390,118.480,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10847,2014-04-01,2014,1,841,ВАЙЛДБЕРРИЗ,13.624902,NaN,NaN,0.042973,5.113439,26.850794,1.873471,1.111630,NaN,NaN,42.232980,0.225426,22.542640,3.724285,NaN,NaN,NaN,39.980,57.590,59.460,84.240,139.320,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11522,2014-07-01,2014,2,841,ВАЙЛДБЕРРИЗ,13.747673,NaN,NaN,0.074495,2.302189,23.825679,1.521327,1.285827,NaN,NaN,44.910810,0.295208,29.520811,4.197152,NaN,NaN,NaN,42.070,133.130,136.940,82.880,140.620,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
12360,2014-10-01,2014,3,841,ВАЙЛДБЕРРИЗ,14.026784,NaN,NaN,0.112988,1.702099,18.000243,1.132308,3.486555,NaN,NaN,34.961263,0.308761,30.876098,5.555481,NaN,NaN,NaN,31.990,183.510,186.540,84.430,184.490,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
13175,2015-01-01,2014,4,841,ВАЙЛДБЕРРИЗ,14.075699,NaN,NaN,0.174655,1.263650,23.710235,1.209117,3.953641,NaN,NaN,30.790318,0.254651,25.465126,4.217588,NaN,39.617892,NaN,41.330,109.500,150.300,56.200,99.270,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
13967,2015-04-01,2015,1,841,ВАЙЛДБЕРРИЗ,14.009120,NaN,NaN,0.047845,1.142911,25.333753,1.187108,4.362222,NaN,NaN,32.798845,0.276292,27.629196,3.947303,NaN,27.720328,NaN,47.620,150.580,186.240,76.090,68.210,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
14747,2015-07-01,2015,2,841,ВАЙЛДБЕРРИЗ,14.185293,NaN,NaN,0.087186,1.197005,23.485858,1.140873,6.907379,NaN,NaN,30.519476,0.267510,26.750978,4.257882,NaN,47.897569,NaN,47.410,176.780,172.010,74.130,78.890,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
15496,2015-10-01,2015,3,841,ВАЙЛДБЕРРИЗ,14.314440,NaN,NaN,0.160144,1.130158,22.116971,0.931082,11.224078,NaN,NaN,20.024263,0.215065,21.506451,4.521415,NaN,69.116619,NaN,46.480,162.190,200.910,42.900,56.450,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
16222,2016-01-01,2015,4,841,ВАЙЛДБЕРРИЗ,14.379095,NaN,NaN,0.199995,1.125832,21.238287,0.866954,8.355157,NaN,NaN,19.646901,0.226620,22.661997,4.708478,NaN,81.795534,NaN,47.800,240.770,181.730,28.350,77.100,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
16918,2016-04-01,2016,1,841,ВАЙЛДБЕРРИЗ,13.992247,0.100915,0.031090,0.051980,1.105061,30.807824,1.367885,7.262509,14.133986,24.520437,33.207270,0.242764,24.276366,3.245929,0.152024,20.450559,100.000000,53.470,231.760,260.900,28.490,73.160,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
17587,2016-07-01,2016,2,841,ВАЙЛДБЕРРИЗ,14.131254,0.369728,0.098813,0.087916,1.112439,26.725872,1.593916,8.308023,12.294198,23.428600,28.307827,0.177599,17.759929,3.741693,0.367650,26.876899,92.744695,51.020,134.530,182.220,26.180,77.280,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
18223,2016-10-01,2016,3,841,ВАЙЛДБЕРРИЗ,14.182205,0.805816,0.204788,0.155306,1.132543,25.413716,1.394612,10.883408,11.741386,25.255439,21.592189,0.154826,15.482582,3.934883,0.646896,31.657007,165.176076,54.900,143.590,225.320,23.390,67.420,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
18827,2017-01-01,2016,4,841,ВАЙЛДБЕРРИЗ,14.192501,0.524042,0.130600,0.209827,1.147859,24.921633,1.302076,9.587747,11.481854,25.908912,20.408673,0.156740,15.673953,4.012578,0.334669,39.023589,240.707965,56.400,66.960,221.730,13.600,78.940,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
19406,2017-04-01,2017,1,841,ВАЙЛДБЕРРИЗ,13.794439,0.041705,0.015319,0.069638,1.393890,36.732612,1.190788,8.566850,16.842187,25.261182,29.186161,0.245100,24.509957,2.722377,0.183860,8.332133,61.224490,55.102,130.268,420.986,12.578,70.889,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
19972,2017-07-01,2017,2,841,ВАЙЛДБЕРРИЗ,13.990872,-3.282758,-0.964439,0.102643,1.338977,29.378934,1.037054,8.749826,13.022835,23.448192,22.938598,0.221190,22.118997,3.403799,-6.694743,14.405917,133.888630,52.126,129.441,228.781,16.330,71.174,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
20524,2017-10-01,2017,3,841,ВАЙЛДБЕРРИЗ,14.052670,-2.016879,-0.556702,0.163079,1.331655,27.602172,0.970881,18.481380,12.395387,21.404438,22.680755,0.233610,23.360994,3.622903,-2.729115,20.398645,105.485800,47.259,144.157,304.926,20.594,79.478,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
21091,2018-01-01,2017,4,841,ВАЙЛДБЕРРИЗ,14.143243,NaN,NaN,0.178573,1.308632,24.703617,1.126697,6.657870,NaN,NaN,23.537037,0.208903,20.890290,4.047990,NaN,25.354063,NaN,44.111,37.190,164.259,24.971,132.613,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
21650,2018-04-01,2018,1,841,ВАЙЛДБЕРРИЗ,13.854951,NaN,NaN,0.042247,1.419318,31.327910,1.132493,6.990816,NaN,NaN,30.566346,0.269903,26.990307,3.192042,NaN,7.967765,NaN,44.192,98.063,235.339,21.279,116.079,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
22185,2018-07-01,2018,2,841,ВАЙЛДБЕРРИЗ,14.209342,-5.070141,-1.098911,0.098900,1.260654,21.674165,0.935647,7.873861,9.429980,19.331835,18.840724,0.201366,20.136580,4.613788,-7.468406,14.714127,98.512607,43.279,100.126,148.024,19.180,102.339,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
22703,2018-10-01,2018,3,841,ВАЙЛДБЕРРИЗ,14.137482,-7.296810,-1.652432,0.141634,1.256209,22.645949,1.201245,7.869639,9.621677,18.179388,20.874156,0.173771,17.377097,4.415801,-7.016664,23.550109,98.932616,41.318,89.878,133.490,20.136,107.521,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
23197,2019-01-01,2018,4,841,ВАЙЛДБЕРРИЗ,14.131836,-8.730770,-2.091646,0.171313,1.262440,23.957183,1.191769,11.760235,10.021338,17.686599,22.247221,0.186674,18.667393,4.174113,-6.940223,30.138032,99.150112,40.682,NaN,164.519,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
23676,2019-04-01,2019,1,841,ВАЙЛДБЕРРИЗ,13.891495,0.460045,0.138468,0.032297,1.138459,30.098911,1.410010,8.189613,13.858293,21.760628,30.137560,0.213740,21.374008,3.322379,1.168557,11.849527,100.000000,47.341,NaN,149.059,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
24142,2019-07-01,2019,2,841,ВАЙЛДБЕРРИЗ,13.614659,-2.699100,-1.049467,0.041014,1.160114,38.882125,1.290286,4.467053,17.339335,23.307476,33.763878,0.261677,26.167739,2.571876,-4.117881,25.485616,146.376812,51.904,NaN,235.285,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
24601,2019-10-01,2019,3,841,ВАЙЛДБЕРРИЗ,13.779588,-5.416538,-1.743416,0.080104,1.256175,32.186915,1.274301,3.403852,13.952761,21.582854,32.691313,0.256543,25.654312,3.106853,-5.837559,29.865504,120.264569,48.835,NaN,174.152,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
25052,2020-01-01,2019,4,841,ВАЙЛДБЕРРИЗ,13.971016,-7.073638,-1.850720,0.124573,1.315305,26.163623,1.027836,3.473668,11.143007,18.366249,25.898782,0.251974,25.197390,3.822101,-6.100200,30.338678,100.000000,41.924,NaN,165.173,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
25490,2020-04-01,2020,1,841,ВАЙЛДБЕРРИЗ,13.858732,-5.113251,-1.494586,0.032119,1.167819,29.229655,1.039603,2.999076,12.711443,15.730990,32.843247,0.315921,31.592108,3.421183,-7.864699,19.003724,100.000000,35.818,NaN,162.186,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
25922,2020-07-01,2020,2,841,ВАЙЛДБЕРРИЗ,13.917819,-4.561837,-1.239748,0.062225,1.128812,27.176510,1.313448,1.108209,11.887249,16.374392,31.940599,0.243181,24.318129,3.679648,-3.919023,31.634115,100.000000,36.967,NaN,139.112,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
26348,2020-10-01,2020,3,841,ВАЙЛДБЕРРИЗ,14.123205,-5.592893,-1.284731,0.102496,1.136985,22.970775,1.163605,0.916240,9.939074,16.967462,25.033136,0.215134,21.513433,4.353358,-3.567710,36.009954,100.000000,38.306,NaN,141.829,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
26762,2021-01-01,2020,4,841,ВАЙЛДБЕРРИЗ,14.159184,-7.213461,-1.545332,0.152819,1.139630,21.422888,1.274413,0.995927,9.110214,18.324262,22.145097,0.173767,17.376702,4.667905,-3.455149,44.725477,100.000000,41.527,NaN,132.931,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
27165,2021-04-01,2021,1,841,ВАЙЛДБЕРРИЗ,13.802301,-1.450829,-0.622773,0.033243,1.219233,42.925309,1.455577,0.913587,19.387954,28.266780,31.410905,0.215797,21.579690,2.329628,-5.858913,10.629491,100.000000,62.298,NaN,230.537,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
27553,2021-07-01,2021,2,841,ВАЙЛДБЕРРИЗ,13.803583,-2.902191,-0.992670,0.076782,1.243801,34.204159,2.458674,0.902101,15.221376,23.859197,30.838958,0.125429,12.542921,2.923621,-4.786583,20.738598,85.765498,53.051,NaN,165.618,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
27928,2021-10-01,2021,3,841,ВАЙЛДБЕРРИЗ,13.827457,-5.823616,-1.891962,0.128776,1.300179,32.487762,2.407856,0.980215,14.022563,28.072367,26.744090,0.111070,11.107016,3.078082,-6.999145,27.031337,94.487762,63.143,NaN,177.796,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
28297,2022-01-01,2021,4,841,ВАЙЛДБЕРРИЗ,13.904777,-9.464889,-2.759994,0.126070,1.319529,29.160341,2.721467,2.371704,12.099717,22.551471,29.057265,0.106771,10.677061,3.429315,-8.536102,32.333186,95.866955,51.965,NaN,119.609,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
28662,2023-07-01,2023,2,841,ВАЙЛДБЕРРИЗ,14.160037,8.353821,2.443739,NaN,NaN,29.252948,20.898730,10.794683,14.527118,39.022330,24.258337,0.011608,1.160756,3.418459,NaN,NaN,96.313776,82.699,NaN,127.759,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
29018,2023-10-01,2023,3,841,ВАЙЛДБЕРРИЗ,15.095114,14.519273,1.779754,NaN,NaN,12.257876,25.897510,16.075748,6.433679,34.147682,11.280410,0.496431,0.435579,8.158020,NaN,NaN,89.140580,72.727,NaN,101.236,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
29373,2024-01-01,2023,4,841,ВАЙЛДБЕРРИЗ,15.414209,31.059660,3.445847,0.248897,0.924759,11.094285,14.927447,40.154334,6.663984,55.057044,4.791541,0.361044,0.320989,9.013650,5.001568,68.895332,90.603306,116.683,NaN,109.689,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
29726,2024-04-01,2024,1,841,ВАЙЛДБЕРРИЗ,16.542185,52.530319,4.625645,0.041284,0.211458,8.805668,21.158933,26.707711,6.155794,103.220068,2.076852,0.107633,0.098155,11.356322,33.710694,13.721596,93.552972,220.590,NaN,108.507,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
30074,2024-07-01,2024,2,841,ВАЙЛДБЕРРИЗ,16.988131,87.160354,20.029556,0.036543,0.125726,22.980122,NaN,8.225926,19.712049,174.172936,5.850651,NaN,NaN,4.351587,36.674286,54.614712,86.517312,359.998,NaN,129.931,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
30421,2024-10-01,2024,3,841,ВАЙЛДБЕРРИЗ,17.292824,94.507338,35.443360,0.746433,0.082346,37.503289,NaN,8.385283,33.432660,361.077104,4.302540,NaN,NaN,2.666433,39.565087,89.582414,84.054684,752.390,NaN,173.407,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
30765,2025-01-01,2024,4,841,ВАЙЛДБЕРРИЗ,18.033888,102.799967,32.109760,0.668604,0.095052,31.235185,NaN,1.759233,29.032040,363.436243,6.009573,NaN,NaN,3.201518,39.898072,80.479479,84.424882,760.871,NaN,154.599,NaN,NaN,NaT,0.0,2021-07-23,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0

Теперь поправим наблюдения, где санкции были введены после 2022 года (те банки, у которых 'SWIFT', 'SDN-list_2022', 'san_Australia', 'san_Britan','san_Euro_Union', 'san_Canada', 'san_New_Zealand', 'san_USA', 'san_Ukraine', 'san_France', 'san_Switzerland' равны единицам)

In [37]:
columns_to_update = ['SWIFT', 'SDN-list_2022', 'san_Australia', 'san_Britan','san_Euro_Union', 'san_Canada', 
                     'san_New_Zealand', 'san_USA', 'san_Ukraine', 'san_France', 'san_Switzerland', 'SANCTIONS_2022']

for col in columns_to_update:
    mask = data['DATE'] >= data['Date_of_sanctions_2022']
    data.loc[mask, f'{col}'] = data.loc[mask, f'{col}']
    data.loc[~mask, f'{col}'] = 0

print(data[data['DATE'] >= data['Date_of_sanctions_2022']].shape[0])
data.sample(3)

399

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,Date_of_sys_importance,sys_importance,Date_of_sanctions_2014,SDN-list_2014,SSI-list_2014,Date_of_sanctions_2022,SWIFT,SDN-list_2022,san_Australia,san_Britan,san_Euro_Union,san_Canada,san_New_Zealand,san_USA,san_Ukraine,san_France,san_Switzerland,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS
20280,2017-07-01,2017,2,3104,"ООО КБ ""ФИНТРАСТБАНК""",14.570717,20.879031,10.582030,0.404590,0.774252,50.682573,7.840968,0.318151,28.078584,11.644005,8.034958,0.010247,1.024740,1.973065,21.063782,50.238035,98.504871,14.824,6881.189,7493.767,10.044,500.944,NaT,NaN,NaT,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
9489,2013-10-01,2013,3,2586,"ОАО ""ЮНИКОРБАНК""",16.124530,-1.111215,-0.092076,0.117908,1.233067,8.286035,1.169954,1.121768,3.755428,7.057124,34.895218,0.298261,29.826148,12.068498,-0.284042,32.416260,113.053556,15.490,42.780,65.620,42.410,326.460,NaT,NaN,NaT,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
23321,2019-01-01,2018,4,2208,ФОРШТАДТ,16.937482,6.842277,0.927885,0.063404,1.100659,13.561056,1.031406,7.055563,6.640522,10.719973,38.535029,0.373617,37.361655,7.374057,2.927329,31.697324,83.604142,22.462,77.747,188.171,72.273,168.987,NaT,0.0,NaT,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
data[(data.DATE > data.Date_of_sanctions_2022) & (data.SANCTIONS_2022 == 0)].head()

Empty DataFrame
Columns: [DATE, year, quarter, REGN, BANK, Bank_Size, ROE, ROA, NIM, CIR, CAR, LTD, NPLR, Z-score, Z-score_RWA, loan_share, deposit_share, dep_to_assets, Leverage, Net_Profit_Margin, Asset_Turnover, Tax_Burder, Н1.0, Н2, Н3, Н4, Н7, Date_of_sys_importance, sys_importance, Date_of_sanctions_2014, SDN-list_2014, SSI-list_2014, Date_of_sanctions_2022, SWIFT, SDN-list_2022, san_Australia, san_Britan, san_Euro_Union, san_Canada, san_New_Zealand, san_USA, san_Ukraine, san_France, san_Switzerland, SANCTIONS_2014, SANCTIONS_2022, SANCTIONS]
Index: []

In [41]:
mask = data[['SDN-list_2014', 'SSI-list_2014', 'SWIFT', 'SDN-list_2022','san_Australia', 'san_Britan', 
          'san_Euro_Union', 'san_Canada', 'san_New_Zealand', 'san_USA', 'san_Ukraine', 'san_France','san_Switzerland']].eq(1).any(axis=1)

data['SANCTIONS'] = mask.astype(int)
print(data[data.SANCTIONS == 1].shape)
data[data.SANCTIONS == 1].sample(5)

(1070, 47)

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,Date_of_sys_importance,sys_importance,Date_of_sanctions_2014,SDN-list_2014,SSI-list_2014,Date_of_sanctions_2022,SWIFT,SDN-list_2022,san_Australia,san_Britan,san_Euro_Union,san_Canada,san_New_Zealand,san_USA,san_Ukraine,san_France,san_Switzerland,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS
30109,2024-07-01,2024,2,1481,СБЕРБАНК РОССИИ,26.867801,11.218241,0.164908,0.018109,1.001937,1.470001,1.768146,2.379374,0.749306,6.175316,8.966284,0.050710,5.071009,68.027150,0.696632,23.672237,81.592335,13.309,336.802,179.492,73.130,NaN,2015-01-01,1.0,2014-09-12,0.0,1.0,2022-04-06,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1
24665,2019-10-01,2019,3,1481,СБЕРБАНК РОССИИ,26.059251,14.984415,0.320387,0.044846,1.002294,2.138135,1.277011,2.785846,1.126781,7.002338,9.534901,0.074666,7.466579,46.769736,1.394183,22.980271,79.778013,14.958,163.817,289.308,58.137,97.432,2015-01-01,1.0,2014-09-12,0.0,1.0,2022-04-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
30743,2025-01-01,2024,4,554,СОЛИДАРНОСТЬ,20.236266,0.552080,0.017299,0.027344,1.002767,3.133372,0.876363,21.068197,1.444005,8.391914,6.736164,0.076865,7.686500,31.914499,0.033068,52.312025,31.971594,18.293,134.576,87.467,100.279,NaN,NaT,0.0,NaT,0.0,0.0,2023-07-20,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
30411,2024-10-01,2024,3,685,РУССКИЙ РЕГИОНАЛЬНЫЙ БАНК,14.431929,0.402478,0.094478,0.368540,1.366337,23.474071,NaN,0.002682,10.801857,24.838229,12.079586,0.000000,0.000000,4.260019,0.210683,44.843712,31.305903,54.100,NaN,168.958,NaN,NaN,NaT,0.0,NaT,0.0,0.0,2023-11-02,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
25447,2020-04-01,2020,1,354,ГАЗПРОМБАНК,23.079640,1.116473,0.077676,0.004542,1.011077,6.957229,1.169690,2.635046,3.224214,5.467110,46.903483,0.400991,40.099069,14.373538,0.501526,15.487859,89.161966,11.851,117.992,106.342,59.268,360.356,2015-01-01,1.0,2014-07-16,0.0,1.0,2024-11-21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1

In [43]:
data = data.drop(['Date_of_sanctions_2014','Date_of_sanctions_2022'], axis=1)

In [45]:
data.loc[data['SANCTIONS'] == 1, 'REGN'].nunique()

119

In [47]:
sanctions_list = ['SANCTIONS', 'SANCTIONS_2014', 'SANCTIONS_2022', 'SDN-list_2014', 'SSI-list_2014', 'SDN-list_2022', 'SWIFT', 
                  'san_USA', 'san_Euro_Union', 'san_Britan', 'san_Ukraine', 'san_Canada', 'san_Australia', 'san_New_Zealand']
result_dict = {}

for sanction in sanctions_list:
    result_yearly = []
    for year in data['year'].unique():
        current_year_df = data[(data['year'] == year) & (data[sanction] == 1)]
        previous_years_df = data[(data['year'] < year) & (data[sanction] == 1)]
        new_regns = set(current_year_df['REGN']) - set(previous_years_df['REGN'])
        result_yearly.append(len(new_regns))
    result_dict[sanction] = pd.Series(result_yearly, index=data['year'].unique())

result = pd.concat(result_dict, axis=1)
result = result.T

unique_sum = {}
for sanction in sanctions_list:
    filtered_df = data[(data[sanction] == 1)]
    unique_sum[sanction] = len(set(filtered_df['REGN']))

result['Total Unique'] = pd.Series(unique_sum)

result

,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2023,2024,Total Unique
SANCTIONS,0,0,0,8,9,1,3,2,1,0,0,37,58,119
SANCTIONS_2014,0,0,0,8,9,1,3,2,1,0,0,0,0,24
SANCTIONS_2022,0,0,0,0,0,0,0,0,0,0,0,47,60,107
SDN-list_2014,0,0,0,2,3,0,3,1,1,0,0,0,0,10
SSI-list_2014,0,0,0,6,6,1,0,1,0,0,0,0,0,14
SDN-list_2022,0,0,0,0,0,0,0,0,0,0,0,42,57,99
SWIFT,0,0,0,0,0,0,0,0,0,0,0,26,4,30
san_USA,0,0,0,0,0,0,0,0,0,0,0,47,60,107
san_Euro_Union,0,0,0,0,0,0,0,0,0,0,0,17,4,21
san_Britan,0,0,0,0,0,0,0,0,0,0,0,22,1,23
san_Ukraine,0,0,0,0,0,0,0,0,0,0,0,18,2,20
san_Canada,0,0,0,0,0,0,0,0,0,0,0,17,0,17
san_Australia,0,0,0,0,0,0,0,0,0,0,0,15,1,16
san_New_Zealand,0,0,0,0,0,0,0,0,0,0,0,8,0,8

In [49]:
print(data[(data.year < 2019) & (data.SANCTIONS == 1)].shape)
print(data[(data.year < 2019) & (data.SANCTIONS == 1)].REGN.nunique())
print(data[(data.year < 2019) & (data.SANCTIONS_2014 == 1)].shape)
data[(data.year < 2019) & (data.SANCTIONS == 1)].REGN.nunique()

(301, 45)
23
(301, 45)

23

In [51]:
print(data[(data.year > 2019) & (data.SANCTIONS == 1)].shape)
print(data[(data.year > 2019) & (data.SANCTIONS == 1)].REGN.nunique())
print(data[(data.year > 2019) & (data.SANCTIONS_2022 == 1)].shape)
data[(data.year > 2019) & (data.SANCTIONS_2022 == 1)].REGN.nunique()

(677, 45)
119
(399, 45)

107

## Добавляем системно-значимые банки

In [53]:
mask = data['DATE'] >= data['Date_of_sys_importance']
data.loc[mask, 'sys_importance'] = data.loc[mask, 'sys_importance']
data.loc[~mask, 'sys_importance'] = 0

print(data[data['DATE'] >= data['Date_of_sys_importance']].shape[0])
data = data.drop('Date_of_sys_importance', axis=1)
data.sample(5)

398

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,sys_importance,SDN-list_2014,SSI-list_2014,SWIFT,SDN-list_2022,san_Australia,san_Britan,san_Euro_Union,san_Canada,san_New_Zealand,san_USA,san_Ukraine,san_France,san_Switzerland,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS
20377,2017-07-01,2017,2,3417,НОВЫЙ ВЕК,14.888970,4.177939,0.875753,0.092637,1.051464,20.961352,5.941054,NaN,10.008307,17.582744,27.871627,0.046914,4.691360,4.770685,2.735969,32.008857,69.523215,37.488,51.184,101.210,22.004,120.802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
28171,2021-10-01,2021,3,3333,КОММЕРЦБАНК (ЕВРАЗИЯ),18.594400,6.604953,0.704119,0.057485,0.995402,10.660474,1.124544,0.457135,5.208582,15.575486,11.481936,0.102103,10.210307,9.380446,1.527280,46.102825,82.387479,33.280,135.328,120.696,22.944,115.784,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
30101,2024-07-01,2024,2,1326,АЛЬФА-БАНК,24.885543,7.986917,0.110770,0.013340,1.021937,1.386893,1.739094,3.367134,0.686404,4.958880,11.482091,0.066023,6.602341,72.103591,1.585655,6.985759,89.549236,10.709,106.236,93.780,68.348,NaN,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1
16180,2016-01-01,2015,4,567,АКЦЕПТ,17.061579,11.149700,0.832675,0.215849,1.095908,7.468138,0.841460,8.583157,3.804400,6.568903,30.364833,0.360859,36.085874,13.390219,1.176942,70.749023,78.625803,13.500,261.010,437.150,21.650,368.700,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
29888,2024-04-01,2024,1,2883,БИЗНЕС-СЕРВИС-ТРАСТ,15.348320,3.177796,0.528722,0.017797,1.089396,16.638006,0.652744,7.025402,7.867796,11.035220,39.086770,0.598807,59.880726,6.010336,7.975870,6.629019,91.485149,23.549,NaN,324.237,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [55]:
## Удалим Н1.1 и Н1.2
data = data.drop(['san_Australia',	'san_Britan',	'san_Euro_Union',	'san_Canada',	'san_New_Zealand',
                  'san_USA',	'san_Ukraine',	'san_France',	'san_Switzerland'], axis=1)

## data_initial

Создадим "чистый" датасет, в котором не будет заполнено пропусков, и сохраним его

In [57]:
data_initial = data
data_initial.to_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\data_initial.csv', index = False)
data_initial.shape

(31047, 35)

# Заполняем пропуски в data_imputed

In [59]:
data = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\data_initial.csv')
data.head()

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,sys_importance,SDN-list_2014,SSI-list_2014,SWIFT,SDN-list_2022,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS
0,2011-04-01,2011,1,1,ЮНИКРЕДИТ БАНК,20.549207,3.533333,0.301535,0.023705,1.039989,8.533997,1.961601,4.118967,4.049471,6.999198,45.307291,0.230971,23.097102,11.717838,1.321371,22.819821,84.143203,14.97,72.11,66.86,97.60,135.33,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,2011-04-01,2011,1,2,ВИКИНГ,14.257721,1.528449,0.521417,0.024426,1.304806,34.114153,6.508572,7.464661,15.874057,17.590841,84.553476,0.129911,12.991094,2.931335,3.202621,16.280959,100.000000,37.86,24.46,62.98,97.40,177.26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2011-04-01,2011,1,5,"Банк ""Кредит-Москва"" (ПАО)",16.119476,4.499332,0.257844,0.046135,1.118311,5.730712,0.971581,1.934965,2.744655,6.158787,27.642929,0.284515,28.451491,17.449837,2.138626,12.056513,91.869774,13.18,47.62,78.89,92.92,361.49,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,2011-04-01,2011,1,18,"ОАО КБ ""Стройкредит""",17.271562,1.400247,0.112632,0.033841,1.122865,8.043751,1.063880,8.157994,3.738206,9.259202,29.363328,0.276002,27.600226,12.432011,1.403576,8.024673,98.684029,20.09,44.91,63.13,67.49,171.62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,2011-04-01,2011,1,21,ПРИМОРСКИЙ ТЕРРИТОРИАЛЬНЫЙ,13.780058,NaN,NaN,0.048577,1.683678,16.081536,1.720043,4.275223,NaN,NaN,59.198130,0.344167,34.416667,6.218311,NaN,12.888831,NaN,24.28,61.75,98.28,88.60,279.22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [61]:
print(data.shape)
MISSING = (data.isna().sum() / len(data))*100
MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
MISSING['Missing_count'] = data.isna().sum()
MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
MISSING[MISSING.Missing_count > 0]

(31047, 35)

                   Share_of_missing, %  Missing_count
Net_Profit_Margin                18.04           5602
Н7                               17.71           5499
Z-score_RWA                      15.40           4780
Tax_Burder                       14.30           4439
Z-score                          14.16           4396
ROA                              14.16           4396
ROE                              14.16           4396
Н4                               12.35           3834
NPLR                             12.27           3811
Н2                               12.21           3791
Asset_Turnover                    9.50           2948
LTD                               8.11           2518
NIM                               7.65           2375
deposit_share                     6.82           2116
dep_to_assets                     6.82           2116
loan_share                        4.95           1537
Н3                                4.74           1472
CIR                               2.51            779
Н1.0                              1.34            415
Leverage                          0.00              1
CAR                               0.00              1
Bank_Size                         0.00              1

In [63]:
# Список переменных, в которых есть пропуски
var_with_null = ['Net_Profit_Margin', 'Н7', 'Z-score_RWA', 'Tax_Burder', 'ROE', 'ROA', 'Z-score',
                'Н4', 'NPLR', 'Н2', 'Asset_Turnover','LTD', 'NIM', 'deposit_share', 'dep_to_assets', 'loan_share',
                 'Н3', 'CIR', 'Н1.0', 'Leverage', 'CAR', 'Bank_Size']

## Авторегрессия + средний прирост

Заполним пропуски последним имеющимся значением переменной + средний прирост за весь известный период по этой переменной для этого банка

In [65]:
data = data.sort_values(by=['REGN', 'DATE'])

for var in var_with_null:
    # Рассчитываем прирост (разницу между текущим и предыдущим значением)
    data[f'{var}_diff'] = data.groupby('REGN')[var].diff()
    
    # Вычисляем средний прирост для каждого банка
    mean_diff = data.groupby('REGN')[f'{var}_diff'].mean().reset_index()
    mean_diff.rename(columns={f'{var}_diff': f'{var}_mean_diff'}, inplace=True)
    
    # Объединяем средний прирост с исходным DataFrame
    data = pd.merge(data, mean_diff, on='REGN', how='left')
    
    # Заполняем пропуски: текущее значение = предыдущее + средний прирост
    data[f'{var}_filled'] = data.groupby('REGN')[var].ffill() + data[f'{var}_mean_diff']

    data[var] = data[var].combine_first(data[f'{var}_filled'])
    data.drop([f'{var}_diff', f'{var}_mean_diff', f'{var}_filled'], axis=1, inplace=True)
    
data.sample(5)

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,sys_importance,SDN-list_2014,SSI-list_2014,SWIFT,SDN-list_2022,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS
27481,2013-10-01,2013,3,3385,"КБ ""КРК"" (ОАО)",16.159556,1.164918,0.153166,0.069699,2.710215,13.148243,0.807844,0.000366,6.096256,6.651625,49.844574,0.617007,61.700723,7.605579,0.986449,15.527025,63.205194,14.360,164.700000,235.47,40.100000,380.980000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3314,2011-10-01,2011,3,598,ВЕЛИКИЕ ЛУКИ БАНК,14.299701,4.736181,0.847639,0.089391,1.873636,17.897108,1.693265,1.391338,8.591029,16.108746,45.036479,0.265974,26.597427,5.587495,4.547258,18.640671,65.897006,34.300,60.790000,99.56,77.700000,127.360000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
30743,2017-01-01,2016,4,3525,КЭБ ЭЙЧЭНБИ БАНК,16.432366,5.011348,0.370901,0.185183,1.037407,7.401222,0.240094,NaN,3.562093,25.180327,8.120443,0.338220,33.821977,13.511282,1.134739,32.686020,81.721780,54.570,20.860000,116.07,65.960000,72.740000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1712,2014-10-01,2014,3,384,"НКО ""ЕРП"" (ООО)",11.264259,3.240631,0.524467,6.115034,43.601790,16.184089,NaN,107.350644,7.657808,8.224247,0.088398,NaN,NaN,6.178908,1.465425,35.789393,83.811475,17.420,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11088,2020-01-01,2019,4,1926,"ООО КБ ""НЕВАСТРОЙИНВЕСТ""",14.428930,3.378879,1.015414,0.096211,1.637870,30.051794,2.912121,9.274304,14.238617,23.127762,50.183973,0.172328,17.232792,3.327588,3.067727,33.099876,81.565898,49.447,204.424828,127.28,22.537241,97.613103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

## Первое будущее значение

Остались пропуски в тех наблюдениях, когда пропуски по показателю начинаются с 2011Q1 (начало датасета) по интересующий момент времени. Для таких наблюдений заполним пропуски первым "будущим" значением для данного банка по рассматриваемому показателю.

In [67]:
def fill_with_first_future(group):
    # Находим индексы пропущенных значений
    null_mask = group.isnull()
    
    # Для каждого пропущенного значения ищем первое не-NaN значение после него
    for var in var_with_null:
        last_valid = group[var].last_valid_index()
        if last_valid is not None:
            group[var] = group[var].fillna(method='bfill')
    
    return group
data = data.groupby('REGN').apply(fill_with_first_future).reset_index(drop=True)

C:\Users\annaz\AppData\Local\Temp\ipykernel_30908\1390887133.py:9: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[var] = group[var].fillna(method='bfill')
C:\Users\annaz\AppData\Local\Temp\ipykernel_30908\1390887133.py:12: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data = data.groupby('REGN').apply(fill_with_first_future).reset_index(drop=True)

Посмотрим какой процент пропусков остался в переменных

In [69]:
print(data.shape)
MISSING = (data.isna().sum() / len(data))*100
MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
MISSING['Missing_count'] = data.isna().sum()
MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
MISSING[MISSING.Missing_count > 0]

(31047, 35)

                   Share_of_missing, %  Missing_count
NPLR                              5.28           1640
LTD                               4.70           1458
dep_to_assets                     3.45           1071
deposit_share                     3.45           1071
NIM                               2.82            874
loan_share                        2.72            843
Н7                                2.66            826
Н2                                2.58            802
Н4                                2.58            802
Н3                                2.53            784
Net_Profit_Margin                 1.85            575
Z-score_RWA                       1.58            489
Asset_Turnover                    1.15            356
Z-score                           0.88            273
ROA                               0.88            273
ROE                               0.88            273
Tax_Burder                        0.88            273
Н1.0                              0.65            202
CIR                               0.04             12

In [71]:
data[data.isna().any(axis=1)].shape

(2660, 35)

In [73]:
data['id'] = range(1, len(data) + 1)

missing_regn = data.groupby('id').apply(lambda x: x.isnull().any(axis=1).any())
print(missing_regn.sum())
missing_regn.sum()/data.shape[0]
data=data.drop('id', axis=1)

2660

C:\Users\annaz\AppData\Local\Temp\ipykernel_30908\3178069182.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  missing_regn = data.groupby('id').apply(lambda x: x.isnull().any(axis=1).any())

In [75]:
data.columns

Index(['DATE', 'year', 'quarter', 'REGN', 'BANK', 'Bank_Size', 'ROE', 'ROA',
       'NIM', 'CIR', 'CAR', 'LTD', 'NPLR', 'Z-score', 'Z-score_RWA',
       'loan_share', 'deposit_share', 'dep_to_assets', 'Leverage',
       'Net_Profit_Margin', 'Asset_Turnover', 'Tax_Burder', 'Н1.0', 'Н2', 'Н3',
       'Н4', 'Н7', 'sys_importance', 'SDN-list_2014', 'SSI-list_2014', 'SWIFT',
       'SDN-list_2022', 'SANCTIONS_2014', 'SANCTIONS_2022', 'SANCTIONS'],
      dtype='object')

In [77]:
data_imputed = data.dropna(subset=['ROE', 'ROA', 'NIM', 'CIR', 'CAR', 'NPLR', 'Z-score', 'Z-score_RWA',
                                 'loan_share', 'deposit_share', 'dep_to_assets', 'Leverage', 'Н1.0', 'Н2', 'Н3', 'Н4'])
data_imputed.shape

(28713, 35)

In [79]:
print(data_imputed.shape)
MISSING = (data_imputed.isna().sum() / len(data_imputed))*100
MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
MISSING['Missing_count'] =data_imputed.isna().sum()
MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
MISSING[MISSING.Missing_count > 0]

(28713, 35)

                   Share_of_missing, %  Missing_count
Net_Profit_Margin                 0.84            240
Asset_Turnover                    0.52            149
LTD                               0.25             72
Н7                                0.05             14

In [81]:
data_imputed.to_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\data_imputed.csv', index = False)

In [83]:
data_imputed.SANCTIONS_2022.unique()

array([0., 1.])

## KNN-Imputer
Логично предположить, что те переменные, значения которых отсутсвуют у данного банка, очень похожи на значения этой же переменной у ближайших соседей рассматриваемого банка по другим переменным. Поэтому воспользуемся мсетодом k-ближайших соседей, чтобы заполнить пропуски в тех переменных, значения которых полностью отсутствуют в датасете для конкретного банка.

In [63]:
# from sklearn.impute import KNNImputer

# def knn_impute_missing(data, target_cols, n_neighbors=7):
#     df = data.copy()
#     numeric_cols = df.select_dtypes(include='number').columns.tolist()

#     imputer = KNNImputer(
#         n_neighbors=n_neighbors,
#         weights='uniform',
#         metric='nan_euclidean')
    
#     # Применяем только к числовым колонкам
#     df_imputed = pd.DataFrame(
#         imputer.fit_transform(df[numeric_cols]),
#         columns=numeric_cols)
    
#     return pd.concat([df.drop(numeric_cols, axis=1), df_imputed], axis=1)

In [64]:
# data_imputed = knn_impute_missing(data, var_with_null, n_neighbors=5)

# print(data_imputed.shape)
# MISSING = (data_imputed.isna().sum() / len(data_imputed))*100
# MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
# MISSING['Missing_count'] = data_imputed.isna().sum()
# MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
# MISSING[MISSING.Missing_count > 0]

In [65]:
# missing_regn_knn = data_imputed.groupby('id').apply(lambda x: x.isnull().any(axis=1).any())
# print(missing_regn_knn.sum())
# missing_regn_knn.sum()/data.shape[0]

# Выбросы

## data_clean

In [85]:
data_clean = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\data_initial.csv')
print(data_clean.shape)

(31047, 35)

In [87]:
data_clean[(data_clean.REGN == 1) & (data_clean.year==2017)]

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,sys_importance,SDN-list_2014,SSI-list_2014,SWIFT,SDN-list_2022,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS
19313,2017-04-01,2017,1,1,ЮНИКРЕДИТ БАНК,21.827618,5.936083,0.362970,0.018995,1.004328,6.114646,1.003331,6.519766,2.968799,8.196062,21.596591,0.215249,21.524891,16.354177,3.360786,10.800164,91.119260,17.520,195.369,203.851,55.108,135.571,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
19880,2017-07-01,2017,2,1,ЮНИКРЕДИТ БАНК,21.948336,8.708966,0.486433,0.031736,1.004024,5.585429,1.113446,6.426182,2.782835,8.376393,19.392824,0.174169,17.416934,17.903727,2.632518,18.477869,81.651429,17.790,157.713,256.078,55.562,130.870,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
20431,2017-10-01,2017,3,1,ЮНИКРЕДИТ БАНК,22.037826,11.520362,0.605821,0.042904,1.004380,5.258700,1.234070,6.079047,2.687807,8.615353,18.468778,0.149657,14.965745,19.016108,2.524366,23.998944,79.402735,18.192,126.360,278.646,59.227,127.333,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
21001,2018-01-01,2017,4,1,ЮНИКРЕДИТ БАНК,22.143694,13.954761,0.677273,0.060226,1.008738,4.853345,1.202352,5.243933,2.534774,8.632060,16.851822,0.140157,14.015717,20.604348,2.439659,27.760951,76.461749,18.157,117.094,224.919,64.478,121.662,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0

Посмотрим на наблюдения, где норматив Н7 отрицательный

In [89]:
print(data_clean[data_clean['Н7']<0].shape)
print(data_clean[data_clean['Н7'].isna()].shape)
data_clean['Н7'] = data_clean['Н7'].fillna(0)
data_clean = data_clean[data_clean['Н7'] >=0]
data_clean.shape

(1, 35)
(5499, 35)

(31046, 35)

Удалим те наблюдения, в которых Н1.0 меньше 6 и больше 100. Сейчас Н1.0 не может быть меньше 8,75 (кажется, столько с начала этого года), раньше был 8, так что я бы не брала в выборку то, что меньше 6-7. И больше 100 - это странно.

In [91]:
print('удалены, строки, где Н1.0 < 6:  ', len(data_clean[data_clean['Н1.0'] < 6]))
print('удалены, строки, где Н1.0 > 100:', len(data_clean[data_clean['Н1.0'] > 100]))
print('всего удалены:                  ', len(data_clean[data_clean['Н1.0'] >100]) + len(data_clean[data_clean['Н1.0'] < 6]))
data_clean = data_clean[(data_clean['Н1.0'] >= 6) & (data_clean['Н1.0'] <= 100)].copy()

удалены, строки, где Н1.0 < 6:   358
удалены, строки, где Н1.0 > 100: 1283
всего удалены:                   1641

NPL больше 70-80 тоже не берем

In [93]:
print('удалены строки, где NPLR > 70:  ', len(data_clean[data_clean['NPLR'] > 70]) + len(data_clean[data_clean['NPLR'] < 0]))
data_clean = data_clean[(data_clean['NPLR'] > 0 ) & (data_clean['NPLR'] <= 70 )].copy()

удалены строки, где NPLR > 70:   373

Нормативы ликвидности - 15, 50 и 120, далеко за этими величинами не берем. Но при этом запредельные значения для н2 и н3 сомнительны. Больше 200 кажется странным, удалим их.

In [95]:
print(data_clean.shape)

print('удалены строки, где Н2 > 300:  ', len(data_clean[data_clean['Н2'] > 300]))
data_clean = data_clean[(data_clean['Н2'] <= 300 )].copy()

print('удалены строки, где Н3 > 350:  ', len(data_clean[data_clean['Н3'] > 350]))
data_clean = data_clean[(data_clean['Н3'] <= 350 )].copy()

print('удалены строки, где Н4 > 200:  ', len(data_clean[data_clean['Н4'] > 200]))
data_clean = data_clean[(data_clean['Н4'] <= 200 )].copy()

print(data_clean.shape)

(25435, 35)
удалены строки, где Н2 > 300:   1109
удалены строки, где Н3 > 350:   655
удалены строки, где Н4 > 200:   2
(21595, 35)

In [97]:
desc_data_clean = data_clean[['ROE', 'ROA', 'NIM', 'CIR', 'CAR', 'LTD', 'NPLR', 'Z-score', 'Z-score_RWA','loan_share', 'deposit_share', 
            'dep_to_assets','Н1.0', 'Н2', 'Н3', 'Н4', 'Н7', 'Bank_Size', 'Leverage', 'Net_Profit_Margin', 
            'Asset_Turnover', 'Tax_Burder']].describe().applymap(lambda x: '{:,.2f}'.format(x))
desc_data_clean

C:\Users\annaz\AppData\Local\Temp\ipykernel_30908\1996226046.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  'Asset_Turnover', 'Tax_Burder']].describe().applymap(lambda x: '{:,.2f}'.format(x))

,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Н1.0,Н2,Н3,Н4,Н7,Bank_Size,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder
count,"18,393.00","18,393.00","21,205.00","21,255.00","21,595.00","21,339.00","21,595.00","18,393.00","18,393.00","21,595.00","21,361.00","21,361.00","21,595.00","21,595.00","21,595.00","21,595.00","21,595.00","21,595.00","21,595.00","17,745.00","19,814.00","18,370.00"
mean,3.52,0.41,0.13,1.37,14.50,858.69,5.85,6.73,11.21,35.48,0.27,26.80,24.22,88.40,121.57,52.45,215.00,16.38,10.56,1.38,36.14,90.89
std,11.24,1.38,0.89,1.67,10.53,"25,588.99",7.86,4.88,7.15,16.95,0.16,15.78,15.75,50.89,57.95,30.06,155.31,2.07,8.60,7.03,25.37,"1,231.29"
min,-264.56,-25.65,-3.55,0.21,0.32,0.00,0.00,-7.31,-5.13,0.00,0.00,0.00,6.15,0.00,0.00,0.00,0.00,11.87,1.17,-287.03,0.00,"-11,055.00"
25%,0.54,0.06,0.04,1.05,7.74,0.95,1.38,3.60,6.24,22.85,0.15,14.40,13.27,53.35,80.64,28.77,93.31,14.88,5.63,0.18,17.56,74.07
50%,2.75,0.31,0.08,1.16,11.10,1.27,3.51,5.21,8.45,35.52,0.27,26.25,18.07,75.45,105.79,51.68,190.57,16.03,9.01,0.98,30.00,84.54
75%,6.93,0.76,0.12,1.38,17.76,1.93,7.07,8.25,13.70,47.43,0.39,38.27,29.67,108.77,144.51,76.00,315.28,17.50,12.92,2.72,47.30,98.42
max,367.01,26.01,88.93,149.64,85.44,"1,594,606.44",69.99,38.81,48.32,90.66,0.99,79.35,99.98,300.00,349.90,155.56,"1,048.03",27.23,309.06,227.25,189.26,"160,020.14"

In [99]:
desc_data_clean.to_excel('desc_data_clean.xlsx')

In [101]:
print(data_clean.shape)
MISSING = (data_clean.isna().sum() / len(data_clean))*100
MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
MISSING['Missing_count'] = data_clean.isna().sum()
MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
MISSING[MISSING.Missing_count > 0]

(21595, 35)

                   Share_of_missing, %  Missing_count
Net_Profit_Margin                17.83           3850
Tax_Burder                       14.93           3225
Z-score                          14.83           3202
ROE                              14.83           3202
ROA                              14.83           3202
Z-score_RWA                      14.83           3202
Asset_Turnover                    8.25           1781
NIM                               1.81            390
CIR                               1.57            340
LTD                               1.19            256
deposit_share                     1.08            234
dep_to_assets                     1.08            234

In [81]:
# print(data_clean[data_clean.isna().any(axis=1)].shape)
# data_clean = data_clean.dropna(subset=['ROE', 'ROA', 'NIM', 'CIR', 'CAR', 'NPLR', 'Z-score', 'Z-score_RWA',
#                                  'loan_share', 'deposit_share', 'dep_to_assets', 'Leverage', 'Н1.0', 'Н2', 'Н3', 'Н4'])
# print(data_clean[data_clean.isna().any(axis=1)].shape)
# data_clean.shape

In [103]:
data_clean.to_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\data_clean_without_outliers.csv', index = False)
data_clean.shape

(21595, 35)

## data_imputed

In [105]:
data_imputed = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\data_imputed.csv')
print(data_imputed.shape)

(28713, 35)

In [107]:
desc_data_imputed = data_imputed[['ROE', 'ROA', 'NIM', 'CIR', 'CAR', 'LTD', 'NPLR', 'Z-score', 'Z-score_RWA','loan_share', 'deposit_share', 
            'dep_to_assets','Н1.0', 'Н2', 'Н3', 'Н4', 'Н7', 'Bank_Size', 'Leverage', 'Net_Profit_Margin', 
            'Asset_Turnover', 'Tax_Burder']].describe().applymap(lambda x: '{:,.2f}'.format(x))
desc_data_imputed

C:\Users\annaz\AppData\Local\Temp\ipykernel_30908\3525124193.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  'Asset_Turnover', 'Tax_Burder']].describe().applymap(lambda x: '{:,.2f}'.format(x))

,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Н1.0,Н2,Н3,Н4,Н7,Bank_Size,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder
count,"28,713.00","28,713.00","28,713.00","28,713.00","28,713.00","28,641.00","28,713.00","28,713.00","28,713.00","28,713.00","28,713.00","28,713.00","28,713.00","28,713.00","28,713.00","28,713.00","28,699.00","28,713.00","28,713.00","28,473.00","28,564.00","28,713.00"
mean,5.29,0.41,63.18,1.78,16.34,"2,378.03",8.26,7.68,14.22,33.08,0.26,25.26,30.68,"43,439.48",664.64,45.42,201.74,16.21,9.76,1.34,34.21,86.31
std,121.24,1.87,"3,195.91",15.64,13.80,"56,685.75",15.60,6.56,14.82,17.94,0.17,16.72,32.14,"2,130,715.77","61,252.19",31.90,581.65,2.11,43.39,15.12,25.11,"1,010.11"
min,"-1,735.67",-37.44,"-3,230.43",-11.31,-46.70,-608.11,-8.72,-25.41,-11.96,-3.10,-0.20,-8.41,-2.76,"-5,263,123.38",-7.71,-9.88,"-2,641.06",10.46,"-6,118.98",-503.22,0.00,"-33,302.36"
25%,0.29,0.03,0.04,1.05,7.92,0.89,1.17,3.74,6.44,19.71,0.13,11.36,13.68,54.76,84.57,18.48,71.69,14.69,4.69,0.13,16.05,75.25
50%,2.50,0.31,0.08,1.16,11.93,1.25,3.58,5.65,9.42,33.08,0.25,24.51,20.31,80.56,114.19,43.35,164.09,15.85,8.17,1.09,28.20,85.63
75%,6.76,0.81,0.13,1.40,20.56,2.10,8.07,9.58,16.79,45.85,0.38,37.57,36.33,126.58,169.25,70.34,289.20,17.39,12.35,3.18,44.84,99.87
max,"8,964.67",35.83,"297,901.06","1,310.50",98.63,"1,667,088.39",107.09,49.66,363.44,91.77,0.99,85.66,760.87,"100,000,000.00","10,279,200.00",218.75,"75,268.41",27.23,"1,537.79",725.49,189.26,"160,020.14"

In [109]:
desc_data_imputed.to_excel('desc_data_imputed.xlsx')

Посмотрим на наблюдения, где норматив Н7 отрицателен. В исходной выборке было только одно такое наблюдение, а тут 1000, значит они появились после заполнения пропусков => заменим на 0, т.к. в остальном наблюдения нормальные

In [111]:
print(data_imputed[data_imputed['Н7']<0].shape)
print(data_imputed[data_imputed['Н7'].isna()].shape)
data_imputed['Н7'] = data_imputed['Н7'].fillna(0)
data_imputed = data_imputed[data_imputed['Н7'] >=0]
data_imputed.shape

(1036, 35)
(14, 35)

(27677, 35)

Удалим те наблюдения, в которых Н1.0 меньше 6 и больше 100. Сейчас Н1.0 не может быть меньше 8,75 (кажется, столько с начала этого года), раньше был 8, так что я бы не брала в выборку то, что меньше 6-7. И больше 100 - это странно.

In [113]:
print('удалены, строки, где Н1.0 < 6:  ', len(data_imputed[data_imputed['Н1.0'] < 6]))
print('удалены, строки, где Н1.0 > 100:', len(data_imputed[data_imputed['Н1.0'] > 100]))
print('всего удалены:                  ', len(data_imputed[data_imputed['Н1.0'] >100]) + len(data_imputed[data_imputed['Н1.0'] < 6]))
data_imputed = data_imputed[(data_imputed['Н1.0'] >= 6) & (data_imputed['Н1.0'] <= 100)].copy()

удалены, строки, где Н1.0 < 6:   343
удалены, строки, где Н1.0 > 100: 792
всего удалены:                   1135

NPL больше 70-80 тоже не берем

In [115]:
print('удалены строки, где NPLR > 70 & NPLR < 0:  ', len(data_imputed[data_imputed['NPLR'] > 70]) + len(data_imputed[data_imputed['NPLR'] <0]))
data_imputed = data_imputed[(data_imputed['NPLR'] <= 70)].copy()
data_imputed = data_imputed[data_imputed['NPLR'] > 0].copy()

data_imputed.shape

удалены строки, где NPLR > 70 & NPLR < 0:   611

(25321, 35)

Нормативы ликвидности - 15, 50 и 120, далеко за этими величинами не берем. Но при этом запредельные значения для н2 и н3 сомнительны. Больше 200 кажется странным, удалим их.

In [117]:
print(data_imputed.shape)

print('удалены строки, где Н2 > 300:  ', len(data_imputed[data_imputed['Н2'] > 300]))
data_imputed = data_imputed[(data_imputed['Н2'] <= 300 )].copy()

print('удалены строки, где Н3 > 350:  ', len(data_imputed[data_imputed['Н3'] > 350]))
data_imputed = data_imputed[(data_imputed['Н3'] <= 350 )].copy()

print('удалены строки, где Н4 > 200:  ', len(data_imputed[data_imputed['Н4'] > 200]))
data_imputed = data_imputed[(data_imputed['Н4'] <= 200 )].copy()

print(data_imputed.shape)

(25321, 35)
удалены строки, где Н2 > 300:   1316
удалены строки, где Н3 > 350:   739
удалены строки, где Н4 > 200:   2
(23264, 35)

В выборке были наблюдения, где CAR отрицатльный из-за собственных средств (<0), удалим их

In [119]:
print(data_imputed[data_imputed.CAR < 0].shape[0])
data_imputed = data_imputed[(data_imputed.CAR >= 0 )].copy()

58

In [121]:
# В ходе заполнения пропусков поялисиь отрицательные доли кредитов и депозитов (из-за прибавления среднего отрицательного приротста)
# Для таких наблюдений вместо отрицательной доли поставим 0
print("Для доли кредитов в активах меньше нуля:")
print(data_imputed[data_imputed.loan_share <0].shape)
data_imputed.loc[data_imputed['loan_share'] < 0, 'loan_share'] = 0
print(data_imputed[data_imputed.loan_share <0].shape)

print("Для доли депозитов в активах меньше нуля:")
print(data_imputed[data_imputed.deposit_share <0].shape)
data_imputed.loc[data_imputed['deposit_share'] < 0, 'deposit_share'] = 0
print(data_imputed[data_imputed.deposit_share <0].shape)

print("Для отношения депозитов к активам меньше нуля:")
print(data_imputed[data_imputed.dep_to_assets <0].shape)
data_imputed.loc[data_imputed['dep_to_assets'] < 0, 'dep_to_assets'] = 0
print(data_imputed[data_imputed.dep_to_assets <0].shape)

Для доли кредитов в активах меньше нуля:
(0, 35)
(0, 35)
Для доли депозитов в активах меньше нуля:
(49, 35)
(0, 35)
Для отношения депозитов к активам меньше нуля:
(66, 35)
(0, 35)

In [123]:
# Аналогично отрицательные значения появились и для LTD, удалим их
print(data_imputed[data_imputed.LTD <0].shape)
data_imputed = data_imputed[(data_imputed.LTD >= 0 )].copy()
print(data_imputed[data_imputed.LTD <0].shape)

(22, 35)
(0, 35)

In [125]:
# Аналогично отрицательные значения появились и нормативов ликвидности Н2, Н3, Н4
print("Для Н2:")
print(data_imputed[data_imputed['Н2'] <0].shape)
data_imputed = data_imputed[(data_imputed['Н2'] >= 0 )].copy()
print(data_imputed[data_imputed['Н2'] <0].shape)

print("Для Н3:")
print(data_imputed[data_imputed['Н3'] <0].shape)
data_imputed = data_imputed[(data_imputed['Н3'] >= 0 )].copy()
print(data_imputed[data_imputed['Н3'] <0].shape)

print("Для Н4:")
print(data_imputed[data_imputed['Н4'] <0].shape)
data_imputed = data_imputed[(data_imputed['Н4'] >= 0 )].copy()
print(data_imputed[data_imputed['Н4'] <0].shape)

Для Н2:
(3, 35)
(0, 35)
Для Н3:
(0, 35)
(0, 35)
Для Н4:
(16, 35)
(0, 35)

In [127]:
# Аналогично отрицательные значения появились и для CIR
print(data_imputed[data_imputed.CIR <0].shape)
data_imputed = data_imputed[(data_imputed.CIR >= 0 )].copy()
print(data_imputed[data_imputed.CIR <0].shape)

(0, 35)
(0, 35)

In [129]:
data_imputed.shape

(23155, 35)

In [131]:
data_imputed_correct = data_imputed

In [133]:
print(data_imputed_correct.shape)
MISSING = (data_imputed_correct.isna().sum() / len(data_imputed_correct))*100
MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
MISSING['Missing_count'] = data_imputed_correct.isna().sum()
MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
MISSING[MISSING.Missing_count > 0]

(23155, 35)

                   Share_of_missing, %  Missing_count
Net_Profit_Margin                 0.82            191
Asset_Turnover                    0.44            102

In [135]:
data_imputed_correct.to_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\data_imputed_correct.csv', index = False)

## data_imputed_correct

In [9]:
data_imputed_correct = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\data_imputed_correct.csv')
print(data_imputed_correct.shape)
desc_data_imputed_correct = data_imputed_correct[['ROE', 'ROA', 'NIM', 'CIR', 'CAR', 'LTD', 'NPLR', 'Z-score', 'Z-score_RWA','loan_share', 'deposit_share', 
            'dep_to_assets','Н1.0', 'Н2', 'Н3', 'Н4', 'Н7', 'Bank_Size', 'Leverage', 'Net_Profit_Margin', 
            'Asset_Turnover', 'Tax_Burder']].describe().applymap(lambda x: '{:,.2f}'.format(x))
desc_data_imputed_correct

(23155, 35)

C:\Users\annaz\AppData\Local\Temp\ipykernel_25672\1109449412.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  'Asset_Turnover', 'Tax_Burder']].describe().applymap(lambda x: '{:,.2f}'.format(x))

,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Н1.0,Н2,Н3,Н4,Н7,Bank_Size,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder
count,"23,155.00","23,155.00","23,155.00","23,155.00","23,155.00","23,155.00","23,155.00","23,155.00","23,155.00","23,155.00","23,155.00","23,155.00","23,155.00","23,155.00","23,155.00","23,155.00","23,155.00","23,155.00","23,155.00","22,964.00","23,053.00","23,155.00"
mean,3.55,0.39,0.32,1.40,14.81,"2,850.61",5.93,6.96,11.74,34.89,0.27,26.09,25.20,88.53,122.25,51.22,217.69,16.31,10.92,1.43,35.20,88.15
std,13.80,1.39,18.17,2.28,10.72,"62,987.25",8.04,5.10,7.88,17.18,0.16,16.03,16.43,50.79,58.08,30.25,148.47,2.08,18.42,7.68,25.07,"1,100.87"
min,-264.56,-25.65,-40.38,0.21,0.13,0.00,0.00,-7.31,-5.13,0.00,0.00,0.00,6.15,0.00,0.00,0.00,0.00,11.41,1.12,-287.03,0.00,"-11,055.00"
25%,0.44,0.05,0.04,1.05,7.82,0.94,1.31,3.70,6.33,22.08,0.14,13.26,13.44,53.68,81.35,27.17,101.70,14.81,5.43,0.17,16.93,74.66
50%,2.60,0.31,0.08,1.16,11.35,1.27,3.48,5.38,8.75,34.90,0.26,25.56,18.87,75.54,106.76,50.44,190.67,15.94,8.81,1.05,29.14,85.01
75%,6.67,0.76,0.13,1.38,18.42,2.01,7.16,8.55,14.52,47.02,0.38,37.79,31.48,108.94,145.24,75.13,311.51,17.42,12.79,2.92,46.00,99.35
max,381.82,26.01,"1,949.88",177.87,89.15,"1,667,088.39",69.99,46.51,111.37,90.66,0.99,79.35,99.98,300.00,349.90,155.56,"1,048.03",27.23,766.55,227.25,189.26,"160,020.14"

In [139]:
desc_data_imputed_correct.to_excel('desc_data_imputed_correct.xlsx')

In [13]:
data_imputed_correct.REGN.nunique()

907

# 2011-2018 & 2019-2024

In [141]:
data_clean = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\data_clean_without_outliers.csv')
print('data_clean:  ', data_clean.shape)
data_imputed_correct = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\data_imputed_correct.csv')
print('data_imputed_correct:  ', data_imputed_correct.shape)

data_clean:   (21595, 35)
data_imputed_correct:   (23155, 35)

Создаем лаги:

In [143]:
# Сортируем по банку, году и кварталу
data_clean = data_clean.sort_values(['REGN', 'year', 'quarter'])

# Список переменных, для которых создаем лаги (исключаем идентификаторы)
vars_to_lag = [col for col in data_clean.columns if col not in ['DATE', 'year', 'quarter', 'REGN', 'BANK','sys_importance']]

# Создаем лаг на 1 период для каждой переменной
for col in vars_to_lag:
    data_clean[f'{col}_LAG1'] = data_clean.groupby('REGN')[col].shift(1)

#data_clean.head(10)

In [145]:
# Сортируем по банку, году и кварталу
data_imputed_correct = data_imputed_correct.sort_values(['REGN', 'year', 'quarter'])

# Список переменных, для которых создаем лаги (исключаем идентификаторы)
vars_to_lag = [col for col in data_imputed_correct.columns if col not in ['DATE', 'year', 'quarter', 'REGN', 'BANK','sys_importance']]

# Создаем лаг на 1 период для каждой переменной
for col in vars_to_lag:
    data_imputed_correct[f'{col}_LAG1'] = data_imputed_correct.groupby('REGN')[col].shift(1)

data_imputed_correct.head(10)

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,sys_importance,SDN-list_2014,SSI-list_2014,SWIFT,SDN-list_2022,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS,Bank_Size_LAG1,ROE_LAG1,ROA_LAG1,NIM_LAG1,CIR_LAG1,CAR_LAG1,LTD_LAG1,NPLR_LAG1,Z-score_LAG1,Z-score_RWA_LAG1,loan_share_LAG1,deposit_share_LAG1,dep_to_assets_LAG1,Leverage_LAG1,Net_Profit_Margin_LAG1,Asset_Turnover_LAG1,Tax_Burder_LAG1,Н1.0_LAG1,Н2_LAG1,Н3_LAG1,Н4_LAG1,Н7_LAG1,SDN-list_2014_LAG1,SSI-list_2014_LAG1,SWIFT_LAG1,SDN-list_2022_LAG1,SANCTIONS_2014_LAG1,SANCTIONS_2022_LAG1,SANCTIONS_LAG1
0,2011-04-01,2011,1,1,ЮНИКРЕДИТ БАНК,20.549207,3.533333,0.301535,0.023705,1.039989,8.533997,1.961601,4.118967,4.049471,6.999198,45.307291,0.230971,23.097102,11.717838,1.321371,22.819821,84.143203,14.97,72.11,66.86,97.60,135.33,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-07-01,2011,2,1,ЮНИКРЕДИТ БАНК,20.730680,10.703044,0.823707,0.044528,1.011826,7.696011,1.937077,3.884693,3.904728,7.261434,41.094880,0.212149,21.214892,12.993745,1.981622,41.567322,87.510987,15.02,76.98,64.44,96.66,168.26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,20.549207,3.533333,0.301535,0.023705,1.039989,8.533997,1.961601,4.118967,4.049471,6.999198,45.307291,0.230971,23.097102,11.717838,1.321371,22.819821,84.143203,14.97,72.11,66.86,97.60,135.33,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2011-10-01,2011,3,1,ЮНИКРЕДИТ БАНК,21.076084,16.497441,0.949259,0.066327,1.009514,5.753978,1.245265,4.267233,3.072205,6.622335,30.361077,0.243812,24.381217,17.379282,1.705999,55.642417,88.645566,13.50,60.17,60.96,98.69,159.47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,20.730680,10.703044,0.823707,0.044528,1.011826,7.696011,1.937077,3.884693,3.904728,7.261434,41.094880,0.212149,21.214892,12.993745,1.981622,41.567322,87.510987,15.02,76.98,64.44,96.66,168.26,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2012-01-01,2011,4,1,ЮНИКРЕДИТ БАНК,21.207675,19.977201,1.070383,0.088269,0.998619,5.358025,1.211087,3.634564,2.946246,6.237865,28.731632,0.237238,23.723843,18.663594,1.417281,75.523710,87.061943,12.54,108.95,66.39,98.28,160.78,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,21.076084,16.497441,0.949259,0.066327,1.009514,5.753978,1.245265,4.267233,3.072205,6.622335,30.361077,0.243812,24.381217,17.379282,1.705999,55.642417,88.645566,13.50,60.17,60.96,98.69,159.47,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2012-04-01,2012,1,1,ЮНИКРЕДИТ БАНК,20.839942,3.703948,0.287007,0.027155,1.004462,7.748668,1.443825,3.791761,3.682883,5.846748,39.774221,0.275478,27.547818,12.905444,1.055478,27.192111,78.815365,12.47,113.39,74.68,88.69,181.78,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,21.207675,19.977201,1.070383,0.088269,0.998619,5.358025,1.211087,3.634564,2.946246,6.237865,28.731632,0.237238,23.723843,18.663594,1.417281,75.523710,87.061943,12.54,108.95,66.39,98.28,160.78,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2012-07-01,2012,2,1,ЮНИКРЕДИТ БАНК,21.009765,7.577414,0.538533,0.050274,1.002309,7.107082,1.553030,3.169546,3.504112,5.865780,35.512680,0.228667,22.866704,14.070472,1.041291,51.717813,85.071246,12.26,56.72,73.29,92.33,186.08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,20.839942,3.703948,0.287007,0.027155,1.004462,7.748668,1.443825,3.791761,3.682883,5.846748,39.774221,0.275478,27.547818,12.905444,1.055478,27.192111,78.815365,12.47,113.39,74.68,88.69,181.78,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2012-10-01,2012,3,1,ЮНИКРЕДИТ БАНК,21.087373,15.009939,1.047577,0.074172,0.991403,6.979220,1.485691,3.317699,3.678814,6.351157,32.897676,0.221430,22.143016,14.328248,1.418163,73.868568,84.117875,12.81,74.58,72.89,94.09,163.55,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,21.009765,7.577414,0.538533,0.050274,1.002309,7.107082,1.553030,3.169546,3.504112,5.865780,35.512680,0.228667,22.866704,14.070472,1.041291,51.717813,85.071246,12.26,56.72,73.29,92.33,186.08,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2013-01-01,2012,4,1,ЮНИКРЕДИТ БАНК,21.241040,16.727182,1.120354,0.092046,0.995773,6.697807,1.217436,3.026883,3.583193,6.586172,29.337929,0.240981,24.098128,14.930260,1.438757,77.869613,84.516114,13.25,85.76,84.55,95.10,149.74,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,21.087373,15.009939,1.047577,0.074172,0.991403,6.979220,1.485691,3.317699,3.678814,6.351157,32.897676,0.221430,22.143016,14.328248,1.418163,73.868568,84.117875,12.81,74.58,72.89,94.09,163.55,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2013-04-01,2013,1,1,ЮНИКРЕДИТ БАНК,20.774492,2.083573,0.230230,0.023462,1.032487,11.049766,1.597566,2.855318,5.169810,6.224045,48.780842,0.305345,30.534486,9.049965,1.332896,17.272912,68.093458,13.35,116.69,89.65,79.28,147.86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,21.241040,16.727182,1.120354,0.092046,0.995773,6.697807,1.217436,3.026883,3.583193,6.586172,29.337929,0.240981,24.098128,14.930260,1.438757,77.869613,84.516114,13.25,85.76,84.55,95.10,149.74,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2013-07-01,2013,2,1,ЮНИКРЕДИТ БАНК,20.974097,4.284011,0.395425,0.046363,1.022943,9.230254,1.788821,3.113998,4.411609,6.661827,40.816750,0.228177,22.817679,10.833938,1.033748,38.251609,71.375241,14.14,60.49,83.01,75.32,121.70,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,20.774492,2.083573,0.230230,0.023462,1.032487,11.049766,1.597566,2.855318,5.169810,6.224045,48.780842,0.305345,30.534486,9.049965,1.332896,17.272912,68.093458,13.35,116.69,89.65,79.28,147.86,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Создадим дамми переменные на кварталы

In [147]:
dummies = pd.get_dummies(data_clean['quarter'], prefix='quarter', drop_first=True)

data_clean = pd.concat([data_clean, dummies], axis=1)
data_clean.sample(3)

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,sys_importance,SDN-list_2014,SSI-list_2014,SWIFT,SDN-list_2022,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS,Bank_Size_LAG1,ROE_LAG1,ROA_LAG1,NIM_LAG1,CIR_LAG1,CAR_LAG1,LTD_LAG1,NPLR_LAG1,Z-score_LAG1,Z-score_RWA_LAG1,loan_share_LAG1,deposit_share_LAG1,dep_to_assets_LAG1,Leverage_LAG1,Net_Profit_Margin_LAG1,Asset_Turnover_LAG1,Tax_Burder_LAG1,Н1.0_LAG1,Н2_LAG1,Н3_LAG1,Н4_LAG1,Н7_LAG1,SDN-list_2014_LAG1,SSI-list_2014_LAG1,SWIFT_LAG1,SDN-list_2022_LAG1,SANCTIONS_2014_LAG1,SANCTIONS_2022_LAG1,SANCTIONS_LAG1,quarter_2,quarter_3,quarter_4
2449,2012-01-01,2011,4,1617,"ООО КБ ""Донинвест""",15.786503,NaN,NaN,0.123195,1.156215,8.249269,1.216595,1.157419,NaN,NaN,35.182925,0.289192,28.919167,12.122287,NaN,NaN,NaN,16.600,72.020,72.420,100.180,342.600,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,15.498296,NaN,NaN,0.090695,1.150877,10.583155,1.191460,0.917345,NaN,NaN,47.323698,0.397191,39.719083,9.448978,NaN,NaN,NaN,15.980,47.220,61.590,85.710,352.070,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,False,True
16391,2017-10-01,2017,3,2564,ЯРИНТЕРБАНК,14.858804,4.279707,0.524564,0.061614,1.147366,12.256997,1.665481,5.634659,5.858002,8.489657,48.118511,0.288917,28.891652,8.158605,1.947444,26.936006,72.95086,17.999,47.796,72.177,39.714,283.375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,14.798592,1.670683,0.211660,0.040439,1.189383,12.669086,1.556608,5.752607,5.903460,8.047884,50.114885,0.321949,32.194925,7.893229,1.218212,17.374664,66.780781,17.348,37.026,72.100,53.627,297.911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,True,False
19026,2020-04-01,2020,1,646,ДАТАБАНК,16.450886,1.224859,0.117711,0.018027,1.395958,9.610185,0.922337,6.070170,4.458456,6.334261,47.190599,0.511642,51.164182,10.405627,2.055219,5.727429,100.00000,13.703,43.881,139.778,58.923,195.516,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,16.644916,18.182803,1.466137,0.078770,1.234564,8.063316,0.893053,6.136538,4.367507,7.101220,38.516175,0.431286,43.128646,12.401845,6.371307,23.011559,87.660593,14.028,54.052,131.613,51.344,212.757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,False,False

In [149]:
dummies = pd.get_dummies(data_imputed_correct['quarter'], prefix='quarter', drop_first=True)

data_imputed_correct = pd.concat([data_imputed_correct, dummies], axis=1)
data_imputed_correct.sample(3)

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,sys_importance,SDN-list_2014,SSI-list_2014,SWIFT,SDN-list_2022,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS,Bank_Size_LAG1,ROE_LAG1,ROA_LAG1,NIM_LAG1,CIR_LAG1,CAR_LAG1,LTD_LAG1,NPLR_LAG1,Z-score_LAG1,Z-score_RWA_LAG1,loan_share_LAG1,deposit_share_LAG1,dep_to_assets_LAG1,Leverage_LAG1,Net_Profit_Margin_LAG1,Asset_Turnover_LAG1,Tax_Burder_LAG1,Н1.0_LAG1,Н2_LAG1,Н3_LAG1,Н4_LAG1,Н7_LAG1,SDN-list_2014_LAG1,SSI-list_2014_LAG1,SWIFT_LAG1,SDN-list_2022_LAG1,SANCTIONS_2014_LAG1,SANCTIONS_2022_LAG1,SANCTIONS_LAG1,quarter_2,quarter_3,quarter_4
22963,2017-07-01,2017,2,3495,"ООО ""ЮМК банк""",15.292707,2.502044,1.204777,0.024228,1.012485,48.151688,2.163149,0.276152,22.620887,31.499539,56.070634,0.259208,25.920835,2.076770,6.047166,19.922998,94.984162,67.524,152.07,149.449,57.891,97.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,15.256029,2.008625,0.990081,0.024230,1.209381,49.291491,2.268613,0.267267,23.044879,27.936725,60.985085,0.268821,26.882096,2.028748,14.908502,6.641052,100.000000,59.965,110.801,111.119,56.885,118.911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,False,False
2944,2014-04-01,2014,1,625,Банк - Т (ОАО),16.308635,-5.005457,-0.332448,0.049436,1.133412,6.641721,0.764837,5.739995,2.891644,4.632459,29.684097,0.388110,38.811012,15.056338,-2.620137,12.688213,103.916604,10.440,20.48,57.320,18.360,308.83,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,16.197320,37.794780,3.000136,0.174061,0.914889,7.937965,0.720476,9.341174,5.013113,6.553990,28.809859,0.399873,39.987279,12.597688,6.061538,49.494641,99.113999,11.300,32.020,61.120,12.730,241.820,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,False,False
21765,2014-01-01,2013,4,3398,"ООО ""Вестинтербанк""",14.267292,-19.896106,-2.659652,0.131718,1.630545,13.367700,1.636156,0.045861,4.907676,13.098848,17.903480,0.109424,10.942405,7.480719,-10.373934,25.637830,100.000000,31.240,105.74,107.190,7.970,148.49,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,13.381843,-21.034710,-6.748050,0.097047,1.698401,32.080546,3.019440,0.040554,11.610303,12.283779,49.078577,0.162542,16.254197,3.117154,-15.041442,44.863052,100.000000,33.550,93.790,98.680,9.370,123.780,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,False,True

In [151]:
print(data_imputed_correct.shape)
MISSING = (data_imputed_correct.isna().sum() / len(data_imputed_correct))*100
MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
MISSING['Missing_count'] =data_imputed_correct.isna().sum()
MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
MISSING[MISSING.Missing_count > 0]

(23155, 67)

                        Share_of_missing, %  Missing_count
Net_Profit_Margin_LAG1                 4.66           1080
Asset_Turnover_LAG1                    4.31            997
Tax_Burder_LAG1                        3.92            907
ROA_LAG1                               3.92            907
NIM_LAG1                               3.92            907
CIR_LAG1                               3.92            907
CAR_LAG1                               3.92            907
LTD_LAG1                               3.92            907
NPLR_LAG1                              3.92            907
Z-score_LAG1                           3.92            907
Z-score_RWA_LAG1                       3.92            907
loan_share_LAG1                        3.92            907
deposit_share_LAG1                     3.92            907
dep_to_assets_LAG1                     3.92            907
Leverage_LAG1                          3.92            907
Bank_Size_LAG1                         3.92            907
ROE_LAG1                               3.92            907
Н1.0_LAG1                              3.92            907
Н2_LAG1                                3.92            907
SANCTIONS_LAG1                         3.92            907
SANCTIONS_2022_LAG1                    3.92            907
SANCTIONS_2014_LAG1                    3.92            907
SDN-list_2022_LAG1                     3.92            907
SWIFT_LAG1                             3.92            907
SSI-list_2014_LAG1                     3.92            907
SDN-list_2014_LAG1                     3.92            907
Н7_LAG1                                3.92            907
Н4_LAG1                                3.92            907
Н3_LAG1                                3.92            907
Net_Profit_Margin                      0.82            191
Asset_Turnover                         0.44            102

In [153]:
print(data_clean.shape)
data_clean = data_clean.dropna()
print(data_clean.shape)
data_imputed_correct = data_imputed_correct.dropna()
data_imputed_correct.shape

(21595, 67)
(16055, 67)

(22070, 67)

Разделим выборку на два периода 2011-2018 и 2019-2024 гг.

In [155]:
# Чистые данные 2011-2018
data_2014_cl = data_clean[data_clean.year < 2019]
print(data_2014_cl.year.unique())
data_2014_cl.shape

[2011 2012 2013 2014 2015 2016 2017 2018]

(13536, 67)

In [157]:
# Обработанные данные 2011-2018
data_2014_im = data_imputed_correct[data_imputed_correct.year < 2019]
print(data_2014_im.year.unique())
data_2014_im.shape

[2011 2012 2013 2014 2015 2016 2017 2018]

(17752, 67)

In [159]:
# Чистые данные 2019-2024
data_2022_cl = data_clean[data_clean.year >= 2019]
print(data_2022_cl.year.unique())
data_2022_cl.shape

[2019 2020 2021 2024 2023]

(2519, 67)

In [161]:
# Обработанные данные 2019-2024
data_2022_im = data_imputed_correct[data_imputed_correct.year >= 2019]
print(data_2022_im.year.unique())
data_2022_im.shape

[2019 2020 2021 2023 2024]

(4318, 67)

## Датасеты 2011-2018

### clean

Заметим, что в датафрейме есть банки, которые встречаются всего 1, 2, 3, 4 раза: стоит оставлять такие наблюдения?
Удалим те банки, которые встречаются реже, чем 5 раз в датасете

In [118]:
# regn_counts = data_2014_cl['REGN'].value_counts().to_dict()
# keys= [key for key, value in regn_counts.items() if value <= 4]
# print('банки, которые встречаются реже, чем 5 раз в подвыборке 2011-2018  :', len(keys))

# data_2014_cl = data_2014_cl[~data_2014_cl['REGN'].isin(keys)].copy()
# data_2014_cl.shape

In [163]:
desc_2014_cl = data_2014_cl[['ROE', 'ROA', 'NIM', 'CIR', 'CAR', 'LTD', 'NPLR', 'Z-score', 'Z-score_RWA','loan_share', 
                                  'deposit_share', 'dep_to_assets','Н1.0','Н2', 'Н3', 'Н4', 'Н7', 
                                  'Bank_Size', 'Leverage', 'Net_Profit_Margin','Asset_Turnover', 'Tax_Burder'
                                 ]].describe().applymap(lambda x: '{:,.2f}'.format(x))
print(data_2014_cl.shape)
desc_2014_cl

(13536, 67)

C:\Users\annaz\AppData\Local\Temp\ipykernel_30908\3337613062.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ]].describe().applymap(lambda x: '{:,.2f}'.format(x))

,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Н1.0,Н2,Н3,Н4,Н7,Bank_Size,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder
count,"13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00","13,536.00"
mean,2.84,0.35,0.11,1.33,14.13,"1,037.32",5.61,6.64,10.79,35.09,0.26,25.62,23.19,85.71,117.44,52.62,240.30,16.31,10.78,0.98,40.27,93.79
std,11.39,1.38,0.31,1.07,10.39,"29,375.61",7.60,4.86,6.81,16.24,0.16,15.44,14.71,49.77,55.68,30.23,154.65,1.98,8.33,6.84,27.17,"1,429.38"
min,-264.56,-25.65,-3.55,0.29,0.32,0.02,0.00,-7.31,-5.13,0.09,0.00,0.00,6.15,0.00,2.63,0.00,0.00,11.99,1.19,-287.03,0.97,"-11,055.00"
25%,0.45,0.05,0.04,1.06,7.44,0.98,1.28,3.53,6.07,22.99,0.14,13.53,12.91,51.75,78.55,28.33,118.11,14.89,5.77,0.14,20.22,72.95
50%,2.49,0.28,0.08,1.15,10.75,1.30,3.37,5.09,8.16,34.94,0.25,24.68,17.48,73.07,101.85,51.92,214.64,15.99,9.30,0.80,33.99,83.99
75%,6.26,0.69,0.13,1.35,17.32,2.03,6.81,8.12,13.08,46.38,0.37,36.59,28.16,104.57,137.97,76.45,341.31,17.34,13.44,2.21,53.15,98.77
max,367.01,24.12,10.95,64.62,83.68,"1,594,606.44",69.63,38.46,45.83,89.09,0.99,78.56,99.20,300.00,349.90,155.56,"1,048.03",26.05,309.06,95.80,189.26,"160,020.14"

In [231]:
desc_2014_cl.to_excel('desc_2014_cl.xlsx')
data_2014_cl.to_csv(r'C:\Users\annaz\Documents\Диплом\Python\datasets\data_2014_cl.csv', index=False)

### imputed

In [122]:
# regn_counts = data_2014_im['REGN'].value_counts().to_dict()
# keys= [key for key, value in regn_counts.items() if value <= 4]
# print('банки, которые встречаются реже, чем 5 раз в подвыборке 2011-2018  :', len(keys))

# data_2014_im = data_2014_im[~data_2014_im['REGN'].isin(keys)].copy()
# data_2014_im.shape

In [165]:
desc_2014_im = data_2014_im[['ROE', 'ROA', 'NIM', 'CIR', 'CAR', 'LTD', 'NPLR', 'Z-score', 'Z-score_RWA','loan_share', 
                                  'deposit_share', 'dep_to_assets','Н1.0', 'Н2', 'Н3', 'Н4', 'Н7', 
                                  'Bank_Size', 'Leverage', 'Net_Profit_Margin','Asset_Turnover', 'Tax_Burder'
                                 ]].describe().applymap(lambda x: '{:,.2f}'.format(x))
print(data_2014_im.shape)
desc_2014_im

(17752, 67)

C:\Users\annaz\AppData\Local\Temp\ipykernel_30908\3355361352.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ]].describe().applymap(lambda x: '{:,.2f}'.format(x))

,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Н1.0,Н2,Н3,Н4,Н7,Bank_Size,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder
count,"17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00","17,752.00"
mean,2.99,0.33,0.13,1.40,14.78,"1,689.04",5.43,6.92,11.34,35.89,0.27,26.37,24.29,86.50,117.16,52.86,232.15,16.10,10.87,1.05,38.21,89.68
std,14.68,1.40,0.85,1.64,10.86,"45,582.39",7.34,5.15,7.71,16.89,0.16,15.98,15.84,50.22,55.68,30.53,152.31,1.94,18.97,7.55,26.49,"1,252.79"
min,-264.56,-25.65,-40.38,0.29,0.13,0.00,0.00,-7.31,-5.13,0.00,0.00,0.00,6.15,0.00,0.00,0.00,0.00,11.73,1.19,-287.03,0.00,"-11,055.00"
25%,0.31,0.03,0.04,1.06,7.75,0.97,1.21,3.65,6.18,23.45,0.14,13.68,13.13,52.35,78.37,28.47,111.94,14.71,5.49,0.11,18.82,73.78
50%,2.32,0.27,0.08,1.17,11.21,1.29,3.27,5.30,8.44,35.92,0.26,25.75,18.09,73.76,101.77,52.39,205.62,15.77,8.92,0.86,31.99,84.77
75%,6.10,0.69,0.13,1.40,18.22,2.01,6.60,8.45,13.77,47.74,0.38,37.98,29.91,105.70,137.78,77.12,330.76,17.14,12.91,2.40,50.21,99.80
max,381.82,26.01,31.25,93.68,83.68,"1,667,088.39",69.63,46.51,111.37,90.66,0.99,79.35,99.91,300.00,349.90,155.56,"1,048.03",26.05,766.55,105.11,189.26,"160,020.14"

In [167]:
desc_2014_im.to_excel('desc_2014_im.xlsx')
data_2014_im.to_csv(r'C:\Users\annaz\Documents\Диплом\Python\datasets\data_2014_im.csv', index=False)

## Датасеты 2019-2024

### clean

In [127]:
# bank_counts = data_2022_cl['REGN'].value_counts().to_dict()
# keys= [key for key, value in bank_counts.items() if value <= 4]
# print('банки, которые встречаются реже, чем 5 раз в подвыборке 2019-2024  :', len(keys))

# data_2022_cl = data_2022_cl[~data_2022_cl['REGN'].isin(keys)].copy()
# data_2022_cl.shape

In [169]:
desc_2022_cl = data_2022_cl[['ROE', 'ROA', 'NIM', 'CIR', 'CAR', 'LTD', 'NPLR', 'Z-score', 'Z-score_RWA','loan_share', 
                                  'deposit_share', 'dep_to_assets','Н1.0', 'Н2', 'Н3', 'Н4', 'Н7', 
                                  'Bank_Size', 'Leverage', 'Net_Profit_Margin','Asset_Turnover', 'Tax_Burder'
                                 ]].describe().applymap(lambda x: '{:,.2f}'.format(x))
print(data_2022_cl.shape)
desc_2022_cl

(2519, 67)

C:\Users\annaz\AppData\Local\Temp\ipykernel_30908\1726029747.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ]].describe().applymap(lambda x: '{:,.2f}'.format(x))

,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Н1.0,Н2,Н3,Н4,Н7,Bank_Size,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder
count,"2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00","2,519.00"
mean,6.73,0.71,0.21,1.14,12.61,500.76,8.37,6.11,11.34,29.79,0.26,25.58,24.04,101.29,149.47,44.40,134.58,18.08,12.23,2.98,26.12,81.32
std,10.64,1.27,2.15,0.45,8.22,"10,973.35",10.33,3.92,7.06,17.12,0.16,15.39,15.17,52.04,64.08,26.95,122.75,2.08,10.82,6.00,14.96,250.05
min,-104.72,-8.77,-0.47,0.43,0.94,0.00,0.00,-0.18,3.34,0.04,0.00,0.00,6.20,0.00,0.00,0.00,0.00,13.41,1.68,-48.22,1.73,"-11,032.10"
25%,1.60,0.16,0.02,1.00,7.36,0.82,2.43,3.59,6.62,15.54,0.13,12.61,13.78,64.08,103.84,23.93,20.68,16.58,6.52,0.68,14.66,77.71
50%,5.15,0.50,0.04,1.04,10.41,1.18,5.16,5.12,8.37,28.98,0.26,25.49,17.83,89.58,132.63,43.73,114.64,17.64,9.60,2.26,23.71,85.59
75%,10.58,1.07,0.08,1.13,15.34,1.77,10.10,7.45,13.93,42.78,0.38,37.33,29.60,125.32,177.39,62.43,212.78,19.11,13.59,5.06,34.43,95.70
max,64.17,11.19,88.93,8.94,59.62,"404,136.75",69.99,28.01,48.32,85.05,0.91,74.02,98.69,298.67,348.89,114.55,717.98,27.23,106.24,73.20,101.41,"3,151.00"

In [239]:
desc_2022_cl.to_excel('desc_2022_cl.xlsx')
data_2022_cl.to_csv(r'C:\Users\annaz\Documents\Диплом\Python\datasets\data_2022_cl.csv', index=False)

### imputed

In [131]:
# bank_counts = data_2022_im['REGN'].value_counts().to_dict()
# keys= [key for key, value in bank_counts.items() if value <= 4]
# print('банки, которые встречаются реже, чем 5 раз в подвыборке 2019-2024  :', len(keys))

# data_2022_im = data_2022_im[~data_2022_im['REGN'].isin(keys)].copy()
# data_2022_im.shape

In [173]:
desc_2022_im = data_2022_im[['ROE', 'ROA', 'NIM', 'CIR', 'CAR', 'LTD', 'NPLR', 'Z-score', 'Z-score_RWA','loan_share', 
                                  'deposit_share', 'dep_to_assets','Н1.0', 'Н2', 'Н3', 'Н4', 'Н7', 
                                  'Bank_Size', 'Leverage', 'Net_Profit_Margin','Asset_Turnover', 'Tax_Burder'
                                 ]].describe().applymap(lambda x: '{:,.2f}'.format(x))
print(data_2022_im.shape)
desc_2022_im

(4318, 67)

C:\Users\annaz\AppData\Local\Temp\ipykernel_30908\1654890860.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ]].describe().applymap(lambda x: '{:,.2f}'.format(x))

,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Н1.0,Н2,Н3,Н4,Н7,Bank_Size,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder
count,"4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00","4,318.00"
mean,6.30,0.69,0.72,1.24,13.90,"8,241.43",8.18,6.67,12.65,29.85,0.27,25.21,27.10,98.28,146.95,44.53,158.04,17.45,11.89,2.76,26.68,82.88
std,10.58,1.28,29.77,1.25,9.22,"112,653.15",10.27,4.32,7.85,17.34,0.16,15.89,17.00,52.31,63.17,27.67,110.48,2.27,18.17,7.37,15.60,196.10
min,-104.72,-14.53,-0.47,0.43,0.23,0.00,0.00,-0.18,3.44,0.00,0.00,0.00,7.71,0.00,0.00,0.00,0.00,12.59,1.49,-164.12,0.51,"-11,032.10"
25%,1.32,0.16,0.02,1.01,7.77,0.80,2.17,3.78,6.80,15.84,0.13,11.85,14.33,60.98,103.21,22.76,69.40,15.83,5.65,0.64,14.82,77.35
50%,4.74,0.52,0.05,1.06,11.24,1.17,4.93,5.50,9.76,29.01,0.26,24.98,20.79,85.40,131.27,42.81,141.71,17.13,8.89,2.15,24.08,85.48
75%,10.01,1.08,0.10,1.21,17.70,1.83,9.98,8.43,16.35,42.82,0.38,37.17,34.91,121.61,174.56,63.80,225.00,18.79,12.87,4.96,35.14,96.22
max,103.41,11.19,"1,949.88",69.41,67.13,"1,667,088.39",69.99,30.65,48.32,86.93,0.99,78.46,99.89,298.67,349.72,114.55,717.98,27.23,439.15,73.20,101.41,"3,151.00"

In [175]:
desc_2022_im.to_excel('desc_2022_im.xlsx')
data_2022_im.to_csv(r'C:\Users\annaz\Documents\Диплом\Python\datasets\data_2022_im.csv', index=False)

# Сезонность

In [319]:
data_2014_cl = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Python\datasets\data_2014_cl.csv')
data_2014_im = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Python\datasets\data_2014_im.csv')
data_2022_cl = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Python\datasets\data_2022_cl.csv')
data_2022_im = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Python\datasets\data_2022_im.csv')

In [321]:
print('Период 2011-2018')
print('data_clean: ', data_2014_cl.shape)
print('data_imputed_correct: ', data_2014_im.shape)

print('Период 2019-2024')
print('data_clean: ', data_2022_cl.shape)
print('data_imputed_correct: ', data_2022_im.shape)

Период 2011-2018
data_clean:  (18210, 60)
data_imputed_correct:  (18794, 60)
Период 2019-2024
data_clean:  (3385, 60)
data_imputed_correct:  (4361, 60)

## 2011-2018

In [255]:
exclude_cols = ['DATE', 'year', 'quarter', 'REGN', 'BANK', 'sys_importance', 'id',
                'SANCTIONS', 'SANCTIONS_2014', 'SANCTIONS_2022', 'SDN-list_2014', 'SSI-list_2014', 'SWIFT', 'SDN-list_2022'
               ]

### clean

Заменим нули на 0.01, т.к. при делении на ноль при очистке от сезонности появляются NaN

In [257]:
miss_0 = ((data_2014_cl == 0).sum() / len(data_2014_cl))*100
miss_0 = pd.DataFrame(round(miss_0, 2), columns = ['Share_of_missing, %'])
miss_0['Missing_count'] = (data_2014_cl == 0).sum()
miss_0 = miss_0.sort_values(by='Share_of_missing, %', ascending=False)
miss_0 = miss_0.drop(['sys_importance', 'SANCTIONS', 'SANCTIONS_2014', 'SANCTIONS_2022',
        'SDN-list_2014', 'SSI-list_2014', 'SWIFT', 'SDN-list_2022'])
miss_0[miss_0.Missing_count > 0]

                   Share_of_missing, %  Missing_count
Н7                                1.39            253
Н4                                0.95            173
ROE                               0.55            100
ROA                               0.55            100
Tax_Burder                        0.54             98
Net_Profit_Margin                 0.54             98
deposit_share                     0.09             17
dep_to_assets                     0.09             17
Н2                                0.02              3
Asset_Turnover                    0.01              2
NIM                               0.01              2

In [263]:
cols = ['SDN-list_2014', 'SSI-list_2014', 'SWIFT', 'SDN-list_2022', 'SANCTIONS_2014', 'SANCTIONS_2022', 'SANCTIONS']

cols_to_replace = [col for col in data_2014_cl.columns if col not in cols]
data_2014_cl[cols_to_replace] = data_2014_cl[cols_to_replace].replace(0, 0.01)

In [267]:
numeric_cols = data_2014_cl.select_dtypes(include=['number']).columns.difference(exclude_cols)

data_2014_cl = data_2014_cl.sort_values(['REGN', 'year', 'quarter'])
data_2014_cl

for col in numeric_cols:
    # Создаем временный мультииндекс для группировки
    temp_df = data_2014_cl.set_index(['REGN', 'quarter', 'year'])[[col]].unstack()
    
    # Вычисляем YoY: текущий год / предыдущий год (только для пар "квартал + (year-1)")
    yoy = temp_df[col].div(temp_df[col].shift(axis=1))
    
    # Возвращаем в исходный формат
    yoy = yoy.stack().reset_index(name=f'{col}_YoY')
    
    # Мерджим обратно в основной датафрейм
    data_2014_cl = data_2014_cl.merge(
        yoy[['REGN', 'year', 'quarter', f'{col}_YoY']],
        on=['REGN', 'year', 'quarter'],
        how='left')

In [144]:
# numeric_cols = data_2014_cl.select_dtypes(include=['number']).columns.difference(exclude_cols)

# # Сортируем данные по банку, году и кварталу (для корректного shift)
# data_2014_cl = data_2014_cl.set_index(['REGN', 'year', 'quarter']).sort_index()

# # Применяем к каждому числовому столбцу
# for col in numeric_cols:
#     # Временный столбец для расчетов
#     data_2014_cl['temp_value'] = data_2014_cl[col]
    
#     # Группируем по REGN и применяем функцию YoY
#     data_2014_cl[f'{col}_YoY'] = (
#         data_2014_cl[col] / data_2014_cl[col].groupby(['REGN', 'quarter']).shift(1)
#     )
#     data_2014_cl.drop('temp_value', axis=1, inplace=True)

# data_2014_cl = data_2014_cl.reset_index()

In [269]:
check = data_2014_cl[['REGN', 'year', 'quarter', 'ROA', 'ROA_YoY']].sort_values(['REGN', 'year', 'quarter'])
check[check.REGN == 2027]

      REGN  year  quarter       ROA   ROA_YoY
7697  2027  2011        1  0.756363       NaN
7698  2027  2011        2  0.984807       NaN
7699  2027  2011        3  0.081508       NaN
7700  2027  2011        4  1.256472       NaN
7701  2027  2012        1  0.423029  0.559294
7702  2027  2012        2  0.672355  0.682727
7703  2027  2012        3  0.621289  7.622403
7704  2027  2012        4  1.124582  0.895031
7705  2027  2013        1  1.267327  2.995838
7706  2027  2013        2  2.126598  3.162911
7707  2027  2013        3  1.545104  2.486932
7708  2027  2013        4  0.522928  0.464998
7709  2027  2014        1 -0.627496 -0.495133
7710  2027  2014        2 -1.557722 -0.732495
7711  2027  2014        3  0.538939  0.348805
7712  2027  2014        4  0.654890  1.252351
7713  2027  2015        1  0.386366 -0.615726
7714  2027  2015        2  0.237451 -0.152435
7715  2027  2015        3  0.162627  0.301754
7716  2027  2015        4  0.419821  0.641056
7717  2027  2016        1  0.010000  0.025882
7718  2027  2016        3  1.060163  6.518986
7719  2027  2016        4  0.925257  2.203933
7720  2027  2017        1  0.006787  0.678653
7721  2027  2017        2  0.013517       NaN

In [271]:
# Проверка бесконечностей:
numeric_cols = data_2014_cl.select_dtypes(include=['float64', 'int64']).columns
df_numeric = data_2014_cl[numeric_cols]

mask = np.isinf(df_numeric).any(axis=1)
result = df_numeric[mask]
result
# data_2014_cl = data_2014_cl.replace([np.inf, -np.inf], np.nan)

Empty DataFrame
Columns: [year, quarter, REGN, Bank_Size, ROE, ROA, NIM, CIR, CAR, LTD, NPLR, Z-score, Z-score_RWA, loan_share, deposit_share, dep_to_assets, Leverage, Net_Profit_Margin, Asset_Turnover, Tax_Burder, Н1.0, Н2, Н3, Н4, Н7, sys_importance, SDN-list_2014, SSI-list_2014, SWIFT, SDN-list_2022, SANCTIONS_2014, SANCTIONS_2022, SANCTIONS, Asset_Turnover_YoY, Bank_Size_YoY, CAR_YoY, CIR_YoY, LTD_YoY, Leverage_YoY, NIM_YoY, NPLR_YoY, Net_Profit_Margin_YoY, ROA_YoY, ROE_YoY, Tax_Burder_YoY, Z-score_YoY, Z-score_RWA_YoY, dep_to_assets_YoY, deposit_share_YoY, loan_share_YoY, Н1.0_YoY, Н2_YoY, Н3_YoY, Н4_YoY, Н7_YoY]
Index: []

In [273]:
print(data_2014_cl.shape)
MISSING = (data_2014_cl.isna().sum() / len(data_2014_cl))*100
MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
MISSING['Missing_count'] = data_2014_cl.isna().sum()
MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
MISSING[MISSING.Missing_count > 0]

(18210, 57)

                       Share_of_missing, %  Missing_count
Net_Profit_Margin_YoY                40.19           7319
Tax_Burder_YoY                       39.10           7120
ROA_YoY                              39.03           7108
ROE_YoY                              39.03           7108
Z-score_YoY                          39.03           7108
Z-score_RWA_YoY                      39.03           7108
Asset_Turnover_YoY                   30.16           5492
LTD_YoY                              23.63           4303
deposit_share_YoY                    23.55           4288
dep_to_assets_YoY                    23.55           4288
NIM_YoY                              22.93           4175
CIR_YoY                              22.75           4143
Н7_YoY                               22.74           4141
CAR_YoY                              22.74           4141
Leverage_YoY                         22.74           4141
NPLR_YoY                             22.74           4141
Bank_Size_YoY                        22.74           4141
Н3_YoY                               22.74           4141
loan_share_YoY                       22.74           4141
Н4_YoY                               22.74           4141
Н1.0_YoY                             22.74           4141
Н2_YoY                               22.74           4141
Net_Profit_Margin                    17.88           3256
Tax_Burder                           16.27           2963
Z-score                              16.17           2945
Z-score_RWA                          16.17           2945
ROA                                  16.17           2945
ROE                                  16.17           2945
Asset_Turnover                        7.43           1353
LTD                                   1.03            188
deposit_share                         0.94            171
dep_to_assets                         0.94            171
NIM                                   0.19             34
CIR                                   0.01              2

In [275]:
## Удалим строки, где пропуски в важных переменных
print(data_2014_cl[data_2014_cl.isna().any(axis=1)].shape)
data_2014_cl = data_2014_cl.dropna(subset=['Bank_Size_YoY', 'CAR_YoY', 'CIR_YoY',
                                           'Leverage_YoY', 'NIM_YoY', 'NPLR_YoY', 'ROA_YoY', 'ROE_YoY', 'Z-score_YoY',
                                           'Z-score_RWA_YoY', 'dep_to_assets_YoY', 'deposit_share_YoY','loan_share_YoY', 
                                           'Н1.0_YoY', 'Н2_YoY', 'Н3_YoY', 'Н4_YoY'])
                                          ## 'Bank_Size', 'CAR', 'CIR', 'Leverage', 'NIM', 'NPLR', 'ROA', 'ROE', 'Z-score',
                                          ##'Z-score_RWA', 'dep_to_assets', 'deposit_share','loan_share', 'Н1.0', 'Н2', 'Н3', 'Н4'])

print(data_2014_cl[data_2014_cl.isna().any(axis=1)].shape)
data_2014_cl.shape

(7458, 57)
(224, 57)

(10976, 57)

In [277]:
## Проверим, остался ли 2011 год
data_2014_cl[data_2014_cl.year ==2011]['Н1.0_YoY'].unique()

array([], dtype=float64)

In [279]:
print(data_2014_cl.shape)
data_2014_cl = data_2014_cl[data_2014_cl.year >=2012]
print(data_2014_cl.shape)
data_2014_cl.year.unique()

(10976, 57)
(10976, 57)

array([2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [281]:
print(data_2014_cl.shape)
MISSING = (data_2014_cl.isna().sum() / len(data_2014_cl))*100
MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
MISSING['Missing_count'] = data_2014_cl.isna().sum()
MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
MISSING[MISSING.Missing_count > 0]

(10976, 57)

                       Share_of_missing, %  Missing_count
Net_Profit_Margin_YoY                 1.87            205
Asset_Turnover_YoY                    1.87            205
Asset_Turnover                        1.32            145
Net_Profit_Margin                     1.32            145
LTD_YoY                               0.11             12
Tax_Burder_YoY                        0.09             10
Tax_Burder                            0.06              7
LTD                                   0.06              7

In [283]:
print(data_2014_cl.shape)
# data_2014_cl = data_2014_cl.dropna()
print(data_2014_cl.shape)

(10976, 57)
(10976, 57)

In [285]:
clean_2014 = data_2014_cl
clean_2014.to_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\clean_2014.csv', index=False)

In [289]:
print(clean_2014[clean_2014.isna().any(axis=1)].shape)

(224, 57)

### imputed

In [291]:
## Заменим нули на 0.01, т.к. при сглаживании сезонности при делении на 0 образуются NaN
miss_0 = ((data_2014_im == 0).sum() / len(data_2014_im))*100
miss_0 = pd.DataFrame(round(miss_0, 2), columns = ['Share_of_missing, %'])
miss_0['Missing_count'] = (data_2014_im == 0).sum()
miss_0 = miss_0.sort_values(by='Share_of_missing, %', ascending=False)
miss_0 = miss_0.drop(['sys_importance', 'SANCTIONS', 'SANCTIONS_2014', 'SANCTIONS_2022',
        'SDN-list_2014', 'SSI-list_2014', 'SWIFT', 'SDN-list_2022'])
miss_0[miss_0.Missing_count > 0]

                   Share_of_missing, %  Missing_count
Н7                                1.58            297
Н4                                1.52            285
Net_Profit_Margin                 0.92            173
ROE                               0.65            123
ROA                               0.65            123
Tax_Burder                        0.64            121
dep_to_assets                     0.33             62
deposit_share                     0.29             54
Н2                                0.18             34
Н3                                0.16             31
loan_share                        0.03              5
LTD                               0.03              5
Asset_Turnover                    0.01              2
NIM                               0.01              2

In [293]:
cols = ['SDN-list_2014', 'SSI-list_2014', 'SWIFT', 'SDN-list_2022', 'SANCTIONS_2014', 'SANCTIONS_2022', 'SANCTIONS']

cols_to_replace = [col for col in data_2014_im.columns if col not in cols]
data_2014_im[cols_to_replace] = data_2014_im[cols_to_replace].replace(0, 0.01)

In [295]:
numeric_cols = data_2014_im.select_dtypes(include=['number']).columns.difference(exclude_cols)

data_2014_im = data_2014_im.sort_values(['REGN', 'year', 'quarter'])

for col in numeric_cols:
    # Создаем временный мультииндекс для группировки
    temp_df = data_2014_im.set_index(['REGN', 'quarter', 'year'])[[col]].unstack()
    
    # Вычисляем YoY: текущий год / предыдущий год (только для пар "квартал + (year-1)")
    yoy = temp_df[col].div(temp_df[col].shift(axis=1))
    
    # Возвращаем в исходный формат
    yoy = yoy.stack().reset_index(name=f'{col}_YoY')
    
    # Мерджим обратно в основной датафрейм
    data_2014_im = data_2014_im.merge(
        yoy[['REGN', 'year', 'quarter', f'{col}_YoY']],
        on=['REGN', 'year', 'quarter'],
        how='left')

In [297]:
check = data_2014_im[['REGN', 'year', 'quarter', 'ROA', 'ROA_YoY']].sort_values(['REGN', 'year', 'quarter'])
check[check.REGN == 2027]

      REGN  year  quarter       ROA   ROA_YoY
7827  2027  2011        1  0.756363       NaN
7828  2027  2011        2  0.984807       NaN
7829  2027  2011        3  0.081508       NaN
7830  2027  2011        4  1.256472       NaN
7831  2027  2012        1  0.423029  0.559294
7832  2027  2012        2  0.672355  0.682727
7833  2027  2012        3  0.621289  7.622403
7834  2027  2012        4  1.124582  0.895031
7835  2027  2013        1  1.267327  2.995838
7836  2027  2013        2  2.126598  3.162911
7837  2027  2013        3  1.545104  2.486932
7838  2027  2013        4  0.522928  0.464998
7839  2027  2014        1 -0.627496 -0.495133
7840  2027  2014        2 -1.557722 -0.732495
7841  2027  2014        3  0.538939  0.348805
7842  2027  2014        4  0.654890  1.252351
7843  2027  2015        1  0.386366 -0.615726
7844  2027  2015        2  0.237451 -0.152435
7845  2027  2015        3  0.162627  0.301754
7846  2027  2015        4  0.419821  0.641056
7847  2027  2016        1  0.010000  0.025882
7848  2027  2016        3  1.060163  6.518986
7849  2027  2016        4  0.925257  2.203933
7850  2027  2017        1  0.006787  0.678653
7851  2027  2017        2  0.013517       NaN
7852  2027  2017        3  0.022345  0.021077
7853  2027  2017        4  1.143922  1.236329
7854  2027  2018        1  0.010161  1.497256
7855  2027  2018        2  0.015960  1.180713
7856  2027  2018        3  0.018916  0.846540
7857  2027  2018        4  0.488670  0.427189

In [299]:
# Проверка бесконечностей:
numeric_cols = data_2014_im.select_dtypes(include=['float64', 'int64']).columns
df_numeric = data_2014_im[numeric_cols]

mask = np.isinf(df_numeric).any(axis=1)
result = df_numeric[mask]
result
# data_2014_cl = data_2014_cl.replace([np.inf, -np.inf], np.nan)

Empty DataFrame
Columns: [year, quarter, REGN, Bank_Size, ROE, ROA, NIM, CIR, CAR, LTD, NPLR, Z-score, Z-score_RWA, loan_share, deposit_share, dep_to_assets, Leverage, Net_Profit_Margin, Asset_Turnover, Tax_Burder, Н1.0, Н2, Н3, Н4, Н7, sys_importance, SDN-list_2014, SSI-list_2014, SWIFT, SDN-list_2022, SANCTIONS_2014, SANCTIONS_2022, SANCTIONS, Asset_Turnover_YoY, Bank_Size_YoY, CAR_YoY, CIR_YoY, LTD_YoY, Leverage_YoY, NIM_YoY, NPLR_YoY, Net_Profit_Margin_YoY, ROA_YoY, ROE_YoY, Tax_Burder_YoY, Z-score_YoY, Z-score_RWA_YoY, dep_to_assets_YoY, deposit_share_YoY, loan_share_YoY, Н1.0_YoY, Н2_YoY, Н3_YoY, Н4_YoY, Н7_YoY]
Index: []

In [301]:
print(data_2014_im.shape)
MISSING = (data_2014_im.isna().sum() / len(data_2014_im))*100
MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
MISSING['Missing_count'] = data_2014_im.isna().sum()
MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
MISSING[MISSING.Missing_count > 0]

(18794, 57)

                       Share_of_missing, %  Missing_count
Net_Profit_Margin_YoY                22.66           4258
Asset_Turnover_YoY                   22.36           4203
ROE_YoY                              22.11           4155
Bank_Size_YoY                        22.11           4155
CAR_YoY                              22.11           4155
CIR_YoY                              22.11           4155
LTD_YoY                              22.11           4155
Leverage_YoY                         22.11           4155
NIM_YoY                              22.11           4155
NPLR_YoY                             22.11           4155
ROA_YoY                              22.11           4155
Н7_YoY                               22.11           4155
Tax_Burder_YoY                       22.11           4155
Н3_YoY                               22.11           4155
Н4_YoY                               22.11           4155
Z-score_RWA_YoY                      22.11           4155
dep_to_assets_YoY                    22.11           4155
deposit_share_YoY                    22.11           4155
loan_share_YoY                       22.11           4155
Z-score_YoY                          22.11           4155
Н1.0_YoY                             22.11           4155
Н2_YoY                               22.11           4155
Net_Profit_Margin                     0.80            151
Asset_Turnover                        0.45             85

In [303]:
## Удалим строки, где пропуски в важных переменных
print(data_2014_im[data_2014_im.isna().any(axis=1)].shape)
data_2014_im = data_2014_im.dropna(subset=['Bank_Size_YoY', 'CAR_YoY', 'CIR_YoY',
       'Leverage_YoY', 'NIM_YoY', 'NPLR_YoY', 'ROA_YoY', 'ROE_YoY', 'Z-score_YoY',
       'Z-score_RWA_YoY', 'dep_to_assets_YoY', 'deposit_share_YoY','loan_share_YoY', 'Н1.0_YoY', 'Н2_YoY', 'Н3_YoY', 'Н4_YoY'])
print(data_2014_im[data_2014_im.isna().any(axis=1)].shape)
data_2014_im.shape

(4258, 57)
(103, 57)

(14639, 57)

In [305]:
## Проверим, остался ли 2011 год
data_2014_im[data_2014_im.year ==2011]['Н1.0_YoY'].unique()

array([], dtype=float64)

In [307]:
MISSING = (data_2014_im.isna().sum() / len(data_2014_im))*100
MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
MISSING['Missing_count'] = data_2014_im.isna().sum()
MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
MISSING[MISSING.Missing_count > 0]

                       Share_of_missing, %  Missing_count
Net_Profit_Margin_YoY                 0.70            103
Net_Profit_Margin                     0.70            103
Asset_Turnover_YoY                    0.33             48
Asset_Turnover                        0.33             48

In [309]:
print(data_2014_im.shape)
# data_2014_im = data_2014_im.dropna()
print(data_2014_im.shape)

(14639, 57)
(14639, 57)

In [311]:
imputed_2014 = data_2014_im
imputed_2014.to_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\imputed_2014.csv', index=False)

In [313]:
imputed_2014[imputed_2014.isna().any(axis=1)].shape

(103, 57)

## 2019-2024

In [317]:
data_2022_cl = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Python\datasets\data_2022_cl.csv')
data_2022_im = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Python\datasets\data_2022_im.csv')
data_2014_cl = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Python\datasets\data_2014_cl.csv')
data_2014_im = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Python\datasets\data_2014_im.csv')

Для сдвига на 8 кварталов в датасеты 2019-2024 гг. нужно добавить 2 года из датасетов 2011-2018 гг.

### clean

In [319]:
## для data_clean
filtered_data = data_2014_cl[
    (data_2014_cl.year == 2017) | (data_2014_cl.year == 2018)].copy()

data_2022_cl = pd.concat(
    [filtered_data, data_2022_cl],
    axis=0,          # Объединяем по строкам
    ignore_index=True # Сбрасываем старые индексы
)

data_2022_cl.year.unique()
data_2022_cl[data_2022_cl.REGN == 1481]

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,sys_importance,SDN-list_2014,SSI-list_2014,SWIFT,SDN-list_2022,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS
125,2017-04-01,2017,1,1481,СБЕРБАНК РОССИИ,25.377726,4.658551,0.147535,0.016871,1.003734,3.166974,1.293103,2.629777,1.519094,6.886452,14.429683,0.111590,11.158961,31.575886,1.018449,14.486248,73.504456,14.878,237.759,331.491,53.666,120.276,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
519,2017-07-01,2017,2,1481,СБЕРБАНК РОССИИ,25.588198,9.491208,0.244454,0.030454,1.002612,2.575579,1.309358,2.790496,1.292468,6.555968,12.128445,0.092629,9.262898,38.826220,0.962415,25.400014,76.184527,14.060,171.093,273.080,55.887,130.129,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
912,2017-10-01,2017,3,1481,СБЕРБАНК РОССИИ,25.716356,13.982331,0.336412,0.046478,1.003594,2.405977,1.320835,2.618288,1.256882,6.818106,10.987247,0.083184,8.318413,41.563155,1.017702,33.056012,80.897568,14.540,191.381,316.181,57.343,112.784,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
1288,2018-01-01,2017,4,1481,СБЕРБАНК РОССИИ,25.806798,18.247083,0.417818,0.066708,1.005098,2.289779,1.319067,2.413693,1.240937,7.051117,10.296170,0.078056,7.805645,43.672339,1.081500,38.633188,79.501288,14.967,161.889,264.895,57.520,109.698,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
1653,2018-04-01,2018,1,1481,СБЕРБАНК РОССИИ,25.500215,5.039914,0.164946,0.017906,1.004892,3.272790,1.347215,2.472507,1.575571,7.425162,14.189799,0.105327,10.532693,30.554972,1.425361,11.572212,79.323513,16.036,174.971,237.060,56.744,109.359,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
2008,2018-07-01,2018,2,1481,СБЕРБАНК РОССИИ,25.762989,10.545589,0.257586,0.031348,1.001994,2.442597,1.362256,2.383136,1.237539,6.787021,11.670451,0.085670,8.567005,40.940036,0.959980,26.832443,78.750312,14.551,154.052,269.238,61.526,127.301,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
2337,2018-10-01,2018,3,1481,СБЕРБАНК РОССИИ,25.940963,15.110188,0.332090,0.044784,1.001781,2.197789,1.321841,2.405840,1.159485,7.105782,10.081119,0.076266,7.626573,45.500278,0.959065,34.626419,81.345024,15.172,196.029,238.291,62.175,102.451,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
2633,2019-01-01,2018,4,1481,СБЕРБАНК РОССИИ,26.053393,19.037474,0.392854,0.056896,1.001722,2.063584,1.313110,2.131307,1.125826,7.003469,9.364251,0.071314,7.131351,48.459390,0.978461,40.150205,80.901039,14.888,186.485,232.770,63.998,112.952,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
2878,2019-04-01,2019,1,1481,СБЕРБАНК РОССИИ,25.725428,5.088738,0.146685,0.014917,1.003049,2.882541,1.273375,2.899764,1.388345,6.775608,13.037232,0.102383,10.238329,34.691615,1.447584,10.133084,83.551033,14.637,229.011,246.677,62.788,108.149,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
3080,2019-07-01,2019,2,1481,СБЕРБАНК РОССИИ,25.859967,10.782254,0.261035,0.029962,1.001437,2.420967,1.261175,2.753920,1.229206,6.646523,11.306786,0.089653,8.965282,41.305811,1.561468,16.717270,78.426418,14.241,186.773,250.503,59.567,112.103,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
3287,2019-10-01,2019,3,1481,СБЕРБАНК РОССИИ,26.059251,14.984415,0.320387,0.044846,1.002294,2.138135,1.277011,2.785846,1.126781,7.002338,9.534901,0.074666,7.466579,46.769736,1.394183,22.980271,79.778013,14.958,163.817,289.308,58.137,97.432,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
3474,2020-01-01,2019,4,1481,СБЕРБАНК РОССИИ,26.128824,19.078054,0.390790,0.058159,1.002758,2.048375,1.429749,2.732214,1.117910,6.834779,9.175989,0.064179,6.417903,48.819186,1.360609,28.721711,79.922800,14.522,162.591,229.989,57.135,83.983,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
3660,2020-04-01,2020,1,1481,СБЕРБАНК РОССИИ,26.249426,4.831678,0.087051,0.009267,0.998946,1.801663,1.427183,2.723441,0.865629,6.378415,8.631711,0.060481,6.048076,55.504275,0.386794,22.505650,81.028357,13.830,102.727,163.481,59.266,107.194,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
3857,2020-07-01,2020,2,1481,СБЕРБАНК РОССИИ,26.413357,7.298374,0.114061,0.019354,1.000489,1.562828,1.469272,2.668217,0.768546,7.278096,7.278136,0.049536,4.953566,63.986556,0.339151,33.631363,85.467504,15.766,88.719,173.889,58.335,61.265,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
4049,2020-10-01,2020,3,1481,СБЕРБАНК РОССИИ,26.632796,11.478736,0.151794,0.027757,1.000014,1.322396,1.504542,3.776396,0.675646,7.138187,6.351188,0.042213,4.221344,75.620308,0.385511,39.374812,80.946492,15.423,87.428,146.961,62.532,92.865,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
4238,2021-01-01,2020,4,1481,СБЕРБАНК РОССИИ,26.754558,16.485480,0.187768,0.040694,1.000406,1.138988,1.561615,3.726347,0.608074,6.850810,5.757433,0.036868,3.686846,87.797260,0.409207,45.885721,80.847695,14.760,98.380,127.589,65.081,96.479,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
4428,2021-04-01,2021,1,1481,СБЕРБАНК РОССИИ,26.324101,5.819301,0.104383,0.014879,1.001172,1.793736,1.501362,3.687144,0.869940,6.917090,9.113246,0.060700,6.069987,55.749554,0.822679,12.688177,80.821294,14.988,93.328,129.778,64.957,93.730,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
4612,2021-07-01,2021,2,1481,СБЕРБАНК РОССИИ,26.483094,12.596427,0.187474,0.031108,1.001508,1.488312,1.573463,3.648203,0.768040,6.844259,8.049766,0.051160,5.115956,67.190228,0.822790,22.785157,80.983090,14.746,98.667,115.032,65.914,86.377,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
4793,2021-10-01,2021,3,1481,СБЕРБАНК РОССИИ,26.618506,18.641642,0.257815,0.043092,1.000586,1.383007,1.585461,2.649742,0.752016,6.838457,7.304346,0.046071,4.607080,72.306221,0.895733,28.782582,81.036639,14.663,135.388,139.036,64.438,86.052,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
4971,2022-01-01,2021,4,1481,СБЕРБАНК РОССИИ,26.755699,23.985132,0.296853,0.054909,1.000910,1.237653,1.755681,2.634466,0.703289,6.640940,6.745364,0.038420,3.842021,80.798100,0.860198,34.509822,81.059292,14.193,139.870,126.361,68.056,84.744,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
5141,2023-07-01,2023,2,1481,СБЕРБАНК РОССИИ,26.801473,13.370120,0.166837,NaN,NaN,1.247834,1.946816,2.543580,0.648367,6.301778,8.006466,0.041126,4.112594,80.138840,NaN,NaN,75.943162,13.583,47.824,92.014,72.935,0.000,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1
5313,2023-10-01,2023,3,1481,СБЕРБАНК РОССИИ,27.028454,19.751961,0.206293,NaN,NaN,1.044420,1.937010,2.382607,0.573223,6.064580,6.948172,0.035871,3.587060,95.746894,NaN,NaN,77.627583,13.026,53.227,92.340,77.335,0.000,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1
5480,2024-01-01,2023,4,1481,СБЕРБАНК РОССИИ,27.135987,23.832522,0.244959,0.043774,1.000738,1.027836,1.861285,2.251358,0.583343,6.167548,6.467622,0.034748,3.474816,97.291798,0.574228,42.658846,78.395870,13.212,93.990,107.201,78.883,0.000,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1
5639,2024-04-01,2024,1,1481,СБЕРБАНК РОССИИ,26.724017,5.618207,0.090155,0.009788,1.003311,1.604693,1.772461,2.451827,0.776777,6.105306,9.926677,0.056005,5.600506,62.317211,0.829280,10.871480,81.231031,13.231,225.345,122.330,75.472,0.000,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1
5953,2024-10-01,2024,3,1481,СБЕРБАНК РОССИИ,27.059671,18.514465,0.211278,0.024074,1.001352,1.141151,1.731023,2.375059,0.619840,5.554925,7.887735,0.045567,4.556689,87.630849,0.655868,32.213464,81.573197,11.909,159.524,171.926,74.807,0.000,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1
6103,2025-01-01,2024,4,1481,СБЕРБАНК РОССИИ,27.234996,22.508629,0.232155,0.029261,1.001425,1.031406,1.658526,2.493589,0.579111,6.015477,6.841476,0.041250,4.125034,96.955053,0.558161,41.592892,82.603421,12.893,254.374,180.669,73.820,0.000,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1

In [321]:
miss_0 = ((data_2022_cl == 0).sum() / len(data_2022_cl))*100
miss_0 = pd.DataFrame(round(miss_0, 2), columns = ['Share_of_missing, %'])
miss_0['Missing_count'] = (data_2022_cl == 0).sum()
miss_0 = miss_0.sort_values(by='Share_of_missing, %', ascending=False)
miss_0 = miss_0.drop(['sys_importance', 'SANCTIONS', 'SANCTIONS_2014', 'SANCTIONS_2022',
        'SDN-list_2014', 'SSI-list_2014', 'SWIFT', 'SDN-list_2022'])
miss_0[miss_0.Missing_count > 0]

                   Share_of_missing, %  Missing_count
Н7                               20.75           1288
Н4                                1.71            106
ROE                               0.64             40
ROA                               0.64             40
Net_Profit_Margin                 0.61             38
Tax_Burder                        0.61             38
Н2                                0.48             30
Н3                                0.43             27
dep_to_assets                     0.10              6
deposit_share                     0.10              6
Asset_Turnover                    0.03              2
NIM                               0.03              2

In [323]:
cols = ['SDN-list_2014', 'SSI-list_2014', 'SWIFT', 'SDN-list_2022', 'SANCTIONS_2014', 'SANCTIONS_2022', 'SANCTIONS']

cols_to_replace = [col for col in data_2022_cl.columns if col not in cols]
data_2022_cl[cols_to_replace] = data_2022_cl[cols_to_replace].replace(0, 0.01)

In [325]:
numeric_cols = data_2022_cl.select_dtypes(include=['number']).columns.difference(exclude_cols)

# Сортируем по банку, году и кварталу
data_2022_cl = data_2022_cl.sort_values(['REGN', 'year', 'quarter'])

# Для каждого числового столбца
for col in numeric_cols:
    # Создаем временный мультииндекс для группировки
    temp_df = data_2022_cl.set_index(['REGN', 'quarter', 'year'])[[col]].unstack()
    
    # Вычисляем YoY: текущий год / предыдущий год (только для пар "квартал + (year-1)")
    yoy = temp_df[col].div(temp_df[col].shift(axis=1))
    
    # Возвращаем в исходный формат
    yoy = yoy.stack().reset_index(name=f'{col}_YoY')
    
    # Мерджим обратно в основной датафрейм
    data_2022_cl = data_2022_cl.merge(
        yoy[['REGN', 'year', 'quarter', f'{col}_YoY']],
        on=['REGN', 'year', 'quarter'],
        how='left')

In [327]:
check = data_2022_cl[['REGN', 'year', 'quarter', 'ROA', 'ROA_YoY']].sort_values(['REGN', 'year', 'quarter'])
check[check.REGN==1481]

      REGN  year  quarter       ROA   ROA_YoY
1864  1481  2017        1  0.147535       NaN
1865  1481  2017        2  0.244454       NaN
1866  1481  2017        3  0.336412       NaN
1867  1481  2017        4  0.417818       NaN
1868  1481  2018        1  0.164946  1.118011
1869  1481  2018        2  0.257586  1.053722
1870  1481  2018        3  0.332090  0.987154
1871  1481  2018        4  0.392854  0.940252
1872  1481  2019        1  0.146685  0.889292
1873  1481  2019        2  0.261035  1.013388
1874  1481  2019        3  0.320387  0.964759
1875  1481  2019        4  0.390790  0.994746
1876  1481  2020        1  0.087051  0.593453
1877  1481  2020        2  0.114061  0.436957
1878  1481  2020        3  0.151794  0.473784
1879  1481  2020        4  0.187768  0.480482
1880  1481  2021        1  0.104383  1.199107
1881  1481  2021        2  0.187474  1.643629
1882  1481  2021        3  0.257815  1.698450
1883  1481  2021        4  0.296853  1.580958
1884  1481  2023        2  0.166837  0.889920
1885  1481  2023        3  0.206293  0.800160
1886  1481  2023        4  0.244959  0.825188
1887  1481  2024        1  0.090155       NaN
1888  1481  2024        3  0.211278  1.024162
1889  1481  2024        4  0.232155  0.947730

In [329]:
cols_to_update = ['Asset_Turnover_YoY', 'Bank_Size_YoY', 'CAR_YoY', 'CIR_YoY', 'LTD_YoY','Leverage_YoY', 
                  'NIM_YoY', 'NPLR_YoY', 'Net_Profit_Margin_YoY','ROA_YoY', 'ROE_YoY', 'Tax_Burder_YoY', 
                  'Z-score_YoY','Z-score_RWA_YoY', 'dep_to_assets_YoY', 'deposit_share_YoY','loan_share_YoY', 
                  'Н1.0_YoY', 'Н2_YoY', 'Н3_YoY', 'Н4_YoY', 'Н7_YoY']  

data_2022_cl.loc[data_2022_cl['year'] == 2023, cols_to_update] = np.nan
data_2022_cl.loc[(data_2022_cl['year'] == 2024) & (data_2022_cl['quarter'] == 1), cols_to_update] = np.nan

In [331]:
## три квартала 2023
print(data_2022_cl[(data_2022_cl['year'] == 2023)][cols_to_update].isna().sum())
data_2022_cl[(data_2022_cl['year'] == 2023) & (data_2022_cl['REGN'] == 1481)].head()

Asset_Turnover_YoY       498
Bank_Size_YoY            498
CAR_YoY                  498
CIR_YoY                  498
LTD_YoY                  498
Leverage_YoY             498
NIM_YoY                  498
NPLR_YoY                 498
Net_Profit_Margin_YoY    498
ROA_YoY                  498
ROE_YoY                  498
Tax_Burder_YoY           498
Z-score_YoY              498
Z-score_RWA_YoY          498
dep_to_assets_YoY        498
deposit_share_YoY        498
loan_share_YoY           498
Н1.0_YoY                 498
Н2_YoY                   498
Н3_YoY                   498
Н4_YoY                   498
Н7_YoY                   498
dtype: int64

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,sys_importance,SDN-list_2014,SSI-list_2014,SWIFT,SDN-list_2022,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS,Asset_Turnover_YoY,Bank_Size_YoY,CAR_YoY,CIR_YoY,LTD_YoY,Leverage_YoY,NIM_YoY,NPLR_YoY,Net_Profit_Margin_YoY,ROA_YoY,ROE_YoY,Tax_Burder_YoY,Z-score_YoY,Z-score_RWA_YoY,dep_to_assets_YoY,deposit_share_YoY,loan_share_YoY,Н1.0_YoY,Н2_YoY,Н3_YoY,Н4_YoY,Н7_YoY
1884,2023-07-01,2023,2,1481,СБЕРБАНК РОССИИ,26.801473,13.370120,0.166837,NaN,NaN,1.247834,1.946816,2.543580,0.648367,6.301778,8.006466,0.041126,4.112594,80.138840,NaN,NaN,75.943162,13.583,47.824,92.014,72.935,0.01,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1885,2023-10-01,2023,3,1481,СБЕРБАНК РОССИИ,27.028454,19.751961,0.206293,NaN,NaN,1.044420,1.937010,2.382607,0.573223,6.064580,6.948172,0.035871,3.587060,95.746894,NaN,NaN,77.627583,13.026,53.227,92.340,77.335,0.01,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,2024-01-01,2023,4,1481,СБЕРБАНК РОССИИ,27.135987,23.832522,0.244959,0.043774,1.000738,1.027836,1.861285,2.251358,0.583343,6.167548,6.467622,0.034748,3.474816,97.291798,0.574228,42.658846,78.395870,13.212,93.990,107.201,78.883,0.01,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [333]:
## первый квартал 2024
print(data_2022_cl[(data_2022_cl['year'] == 2024) & (data_2022_cl['quarter'] == 1)][cols_to_update].isna().sum())
data_2022_cl[(data_2022_cl['year'] == 2024) & (data_2022_cl['quarter'] == 1) & (data_2022_cl['REGN'] == 1481)].head()

Asset_Turnover_YoY       156
Bank_Size_YoY            156
CAR_YoY                  156
CIR_YoY                  156
LTD_YoY                  156
Leverage_YoY             156
NIM_YoY                  156
NPLR_YoY                 156
Net_Profit_Margin_YoY    156
ROA_YoY                  156
ROE_YoY                  156
Tax_Burder_YoY           156
Z-score_YoY              156
Z-score_RWA_YoY          156
dep_to_assets_YoY        156
deposit_share_YoY        156
loan_share_YoY           156
Н1.0_YoY                 156
Н2_YoY                   156
Н3_YoY                   156
Н4_YoY                   156
Н7_YoY                   156
dtype: int64

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,sys_importance,SDN-list_2014,SSI-list_2014,SWIFT,SDN-list_2022,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS,Asset_Turnover_YoY,Bank_Size_YoY,CAR_YoY,CIR_YoY,LTD_YoY,Leverage_YoY,NIM_YoY,NPLR_YoY,Net_Profit_Margin_YoY,ROA_YoY,ROE_YoY,Tax_Burder_YoY,Z-score_YoY,Z-score_RWA_YoY,dep_to_assets_YoY,deposit_share_YoY,loan_share_YoY,Н1.0_YoY,Н2_YoY,Н3_YoY,Н4_YoY,Н7_YoY
1887,2024-04-01,2024,1,1481,СБЕРБАНК РОССИИ,26.724017,5.618207,0.090155,0.009788,1.003311,1.604693,1.772461,2.451827,0.776777,6.105306,9.926677,0.056005,5.600506,62.317211,0.82928,10.87148,81.231031,13.231,225.345,122.33,75.472,0.01,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
# numeric_cols = data_2022_cl.select_dtypes(include=['number']).columns.difference(exclude_cols)

# for col in numeric_cols:
#     data_2022_cl[f'{col}_YoY'] = data_2022_cl.groupby('REGN')[col].transform(lambda x: x / x.shift(4))
#     # data_2022_cl[f'{col}_YoY_diff'] = data_2022_cl.groupby('REGN')[col].transform(lambda x: x - x.shift(4))

# data_2022_cl = data_2022_cl.drop(columns=numeric_cols)
# data_2022_cl=data_2022_cl[data_2022_cl.year >= 2019]
# print(data_2022_cl.year.unique())
# data_2022_cl.sample(5)

In [335]:
# Проверка бесконечностей:
numeric_cols = data_2022_cl.select_dtypes(include=['float64', 'int64']).columns
df_numeric = data_2022_cl[numeric_cols]

mask = np.isinf(df_numeric).any(axis=1)
result = df_numeric[mask]
result
# data_2014_cl = data_2014_cl.replace([np.inf, -np.inf], np.nan)

Empty DataFrame
Columns: [year, quarter, REGN, Bank_Size, ROE, ROA, NIM, CIR, CAR, LTD, NPLR, Z-score, Z-score_RWA, loan_share, deposit_share, dep_to_assets, Leverage, Net_Profit_Margin, Asset_Turnover, Tax_Burder, Н1.0, Н2, Н3, Н4, Н7, sys_importance, SDN-list_2014, SSI-list_2014, SWIFT, SDN-list_2022, SANCTIONS_2014, SANCTIONS_2022, SANCTIONS, Asset_Turnover_YoY, Bank_Size_YoY, CAR_YoY, CIR_YoY, LTD_YoY, Leverage_YoY, NIM_YoY, NPLR_YoY, Net_Profit_Margin_YoY, ROA_YoY, ROE_YoY, Tax_Burder_YoY, Z-score_YoY, Z-score_RWA_YoY, dep_to_assets_YoY, deposit_share_YoY, loan_share_YoY, Н1.0_YoY, Н2_YoY, Н3_YoY, Н4_YoY, Н7_YoY]
Index: []

In [337]:
print(data_2022_cl.shape)
MISSING = (data_2022_cl.isna().sum() / len(data_2022_cl))*100
MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
MISSING['Missing_count'] = data_2022_cl.isna().sum()
MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
MISSING[MISSING.Missing_count>0]

(6208, 57)

                       Share_of_missing, %  Missing_count
Net_Profit_Margin_YoY                53.37           3313
Tax_Burder_YoY                       49.07           3046
ROA_YoY                              48.90           3036
ROE_YoY                              48.90           3036
Z-score_YoY                          48.90           3036
Z-score_RWA_YoY                      48.90           3036
Asset_Turnover_YoY                   48.66           3021
NIM_YoY                              47.08           2923
CIR_YoY                              46.75           2902
LTD_YoY                              43.20           2682
deposit_share_YoY                    43.17           2680
dep_to_assets_YoY                    43.17           2680
Н7_YoY                               42.07           2612
CAR_YoY                              42.07           2612
Leverage_YoY                         42.07           2612
NPLR_YoY                             42.07           2612
Bank_Size_YoY                        42.07           2612
Н4_YoY                               42.07           2612
loan_share_YoY                       42.07           2612
Н1.0_YoY                             42.07           2612
Н2_YoY                               42.07           2612
Н3_YoY                               42.07           2612
Net_Profit_Margin                    15.72            976
Tax_Burder                           10.15            630
Z-score                               9.94            617
Z-score_RWA                           9.94            617
ROA                                   9.94            617
ROE                                   9.94            617
Asset_Turnover                        8.49            527
NIM                                   6.07            377
CIR                                   5.48            340
LTD                                   1.82            113
deposit_share                         1.72            107
dep_to_assets                         1.72            107

In [339]:
data_2022_cl.year.unique()

array([2017, 2018, 2019, 2020, 2021, 2023, 2024], dtype=int64)

In [341]:
print(data_2022_cl.shape)
data_2022_cl = data_2022_cl[data_2022_cl.year >=2019]
print(data_2022_cl.shape)

(6208, 57)
(3385, 57)

In [343]:
## Удалим строки, где пропуски в важных переменных
print(data_2022_cl[data_2022_cl.isna().any(axis=1)].shape)
data_2022_cl = data_2022_cl.dropna(subset=['Bank_Size_YoY', 'CAR_YoY', 'CIR_YoY',
                                           'Leverage_YoY', 'NIM_YoY', 'NPLR_YoY', 'ROA_YoY', 'ROE_YoY', 'Z-score_YoY',
                                           'Z-score_RWA_YoY', 'dep_to_assets_YoY', 'deposit_share_YoY','loan_share_YoY', 
                                           'Н1.0_YoY', 'Н2_YoY', 'Н3_YoY', 'Н4_YoY'])
                                          ## 'Bank_Size', 'CAR', 'CIR', 'Leverage', 'NIM', 'NPLR', 'ROA', 'ROE', 'Z-score',
                                          ##'Z-score_RWA', 'dep_to_assets', 'deposit_share','loan_share', 'Н1.0', 'Н2', 'Н3', 'Н4'])

print(data_2022_cl[data_2022_cl.isna().any(axis=1)].shape)
data_2022_cl.shape

(1496, 57)
(18, 57)

(1907, 57)

In [345]:
print(data_2022_cl.shape)
MISSING = (data_2022_cl.isna().sum() / len(data_2022_cl))*100
MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
MISSING['Missing_count'] = data_2022_cl.isna().sum()
MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
MISSING[MISSING.Missing_count>0]

(1907, 57)

                       Share_of_missing, %  Missing_count
Asset_Turnover_YoY                    0.68             13
Net_Profit_Margin_YoY                 0.68             13
Asset_Turnover                        0.58             11
Net_Profit_Margin                     0.58             11
Tax_Burder_YoY                        0.26              5
Tax_Burder                            0.10              2

In [187]:
# print(data_2022_cl[data_2022_cl.isna().any(axis=1)].shape)
# data_2022_cl = data_2022_cl.dropna(subset=['Asset_Turnover_YoY', 'Net_Profit_Margin_YoY','Asset_Turnover', 'Net_Profit_Margin', 
#                                           'Tax_Burder_YoY', ])

# print(data_2022_cl[data_2022_cl.isna().any(axis=1)].shape)
# data_2022_cl.shape

In [347]:
clean_2022 = data_2022_cl

clean_2022.to_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\clean_2022.csv', index=False)

In [349]:
print(clean_2022[clean_2022.isna().any(axis=1)].shape)

(18, 57)

### imputed

In [361]:
data_2014_im = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Python\datasets\data_2014_im.csv')
data_2022_im = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Python\datasets\data_2022_im.csv')

In [363]:
## для data_imputed
filtered_data = data_2014_im[
    (data_2014_im.year == 2017) | (data_2014_im.year == 2018)].copy()

data_2022_im = pd.concat(
    [filtered_data,data_2022_im],
    axis=0,          # Объединяем по строкам
    ignore_index=True # Сбрасываем старые индексы
)

data_2022_im.year.unique()

array([2017, 2018, 2019, 2020, 2021, 2023, 2024], dtype=int64)

In [365]:
## Заменим нули на 0.01, т.к. при сглаживании сезонности при делении на 0 образуются NaN
miss_0 = ((data_2022_im == 0).sum() / len(data_2022_im))*100
miss_0 = pd.DataFrame(round(miss_0, 2), columns = ['Share_of_missing, %'])
miss_0['Missing_count'] = (data_2022_im == 0).sum()
miss_0 = miss_0.sort_values(by='Share_of_missing, %', ascending=False)
miss_0 = miss_0.drop(['sys_importance', 'SANCTIONS', 'SANCTIONS_2014', 'SANCTIONS_2022',
        'SDN-list_2014', 'SSI-list_2014', 'SWIFT', 'SDN-list_2022'])
miss_0[miss_0.Missing_count > 0]

                   Share_of_missing, %  Missing_count
Н7                                2.91            213
Н4                                1.85            136
dep_to_assets                     0.63             46
ROE                               0.57             42
ROA                               0.57             42
Net_Profit_Margin                 0.55             40
Tax_Burder                        0.55             40
Н2                                0.52             38
Н3                                0.48             35
deposit_share                     0.45             33
LTD                               0.05              4
loan_share                        0.05              4
Asset_Turnover                    0.03              2
NIM                               0.03              2

In [367]:
cols = ['SDN-list_2014', 'SSI-list_2014', 'SWIFT', 'SDN-list_2022', 'SANCTIONS_2014', 'SANCTIONS_2022', 'SANCTIONS']

cols_to_replace = [col for col in data_2022_im.columns if col not in cols]
data_2022_im[cols_to_replace] = data_2022_im[cols_to_replace].replace(0, 0.01)

In [369]:
numeric_cols = data_2022_im.select_dtypes(include=['number']).columns.difference(exclude_cols)

data_2022_im = data_2022_im.sort_values(['REGN', 'year', 'quarter'])

for col in numeric_cols:
    # Создаем временный мультииндекс для группировки
    temp_df = data_2022_im.set_index(['REGN', 'quarter', 'year'])[[col]].unstack()
    
    # Вычисляем YoY: текущий год / предыдущий год (только для пар "квартал + (year-1)")
    yoy = temp_df[col].div(temp_df[col].shift(axis=1))
    
    # Возвращаем в исходный формат
    yoy = yoy.stack().reset_index(name=f'{col}_YoY')
    
    # Мерджим обратно в основной датафрейм
    data_2022_im = data_2022_im.merge(
        yoy[['REGN', 'year', 'quarter', f'{col}_YoY']],
        on=['REGN', 'year', 'quarter'],
        how='left')

In [371]:
check = data_2022_im[['REGN', 'year', 'quarter', 'ROA', 'ROA_YoY']].sort_values(['REGN', 'year', 'quarter'])
check[check.REGN == 1481]

      REGN  year  quarter       ROA   ROA_YoY
2237  1481  2017        1  0.147535       NaN
2238  1481  2017        2  0.244454       NaN
2239  1481  2017        3  0.336412       NaN
2240  1481  2017        4  0.417818       NaN
2241  1481  2018        1  0.164946  1.118011
2242  1481  2018        2  0.257586  1.053722
2243  1481  2018        3  0.332090  0.987154
2244  1481  2018        4  0.392854  0.940252
2245  1481  2019        1  0.146685  0.889292
2246  1481  2019        2  0.261035  1.013388
2247  1481  2019        3  0.320387  0.964759
2248  1481  2019        4  0.390790  0.994746
2249  1481  2020        1  0.087051  0.593453
2250  1481  2020        2  0.114061  0.436957
2251  1481  2020        3  0.151794  0.473784
2252  1481  2020        4  0.187768  0.480482
2253  1481  2021        1  0.104383  1.199107
2254  1481  2021        2  0.187474  1.643629
2255  1481  2021        3  0.257815  1.698450
2256  1481  2021        4  0.296853  1.580958
2257  1481  2023        2  0.166837  0.889920
2258  1481  2023        3  0.206293  0.800160
2259  1481  2023        4  0.244959  0.825188
2260  1481  2024        1  0.090155       NaN
2261  1481  2024        3  0.211278  1.024162
2262  1481  2024        4  0.232155  0.947730

In [373]:
cols_to_update = ['Asset_Turnover_YoY', 'Bank_Size_YoY', 'CAR_YoY', 'CIR_YoY', 'LTD_YoY','Leverage_YoY', 
                  'NIM_YoY', 'NPLR_YoY', 'Net_Profit_Margin_YoY','ROA_YoY', 'ROE_YoY', 'Tax_Burder_YoY', 
                  'Z-score_YoY','Z-score_RWA_YoY', 'dep_to_assets_YoY', 'deposit_share_YoY','loan_share_YoY', 
                  'Н1.0_YoY', 'Н2_YoY', 'Н3_YoY', 'Н4_YoY', 'Н7_YoY']  

data_2022_im.loc[data_2022_im['year'] == 2023, cols_to_update] = np.nan
data_2022_im.loc[(data_2022_im['year'] == 2024) & (data_2022_im['quarter'] == 1), cols_to_update] = np.nan

In [375]:
## три квартала 2023
print(data_2022_im[(data_2022_im['year'] == 2023)][cols_to_update].isna().sum())
data_2022_im[(data_2022_im['year'] == 2023) & (data_2022_im['REGN'] == 1481)].head()

Asset_Turnover_YoY       635
Bank_Size_YoY            635
CAR_YoY                  635
CIR_YoY                  635
LTD_YoY                  635
Leverage_YoY             635
NIM_YoY                  635
NPLR_YoY                 635
Net_Profit_Margin_YoY    635
ROA_YoY                  635
ROE_YoY                  635
Tax_Burder_YoY           635
Z-score_YoY              635
Z-score_RWA_YoY          635
dep_to_assets_YoY        635
deposit_share_YoY        635
loan_share_YoY           635
Н1.0_YoY                 635
Н2_YoY                   635
Н3_YoY                   635
Н4_YoY                   635
Н7_YoY                   635
dtype: int64

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,sys_importance,SDN-list_2014,SSI-list_2014,SWIFT,SDN-list_2022,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS,Asset_Turnover_YoY,Bank_Size_YoY,CAR_YoY,CIR_YoY,LTD_YoY,Leverage_YoY,NIM_YoY,NPLR_YoY,Net_Profit_Margin_YoY,ROA_YoY,ROE_YoY,Tax_Burder_YoY,Z-score_YoY,Z-score_RWA_YoY,dep_to_assets_YoY,deposit_share_YoY,loan_share_YoY,Н1.0_YoY,Н2_YoY,Н3_YoY,Н4_YoY,Н7_YoY
2257,2023-07-01,2023,2,1481,СБЕРБАНК РОССИИ,26.801473,13.370120,0.166837,0.055155,0.999634,1.247834,1.946816,2.543580,0.648367,6.301778,8.006466,0.041126,4.112594,80.138840,0.798909,34.961288,75.943162,13.583,47.824,92.014,72.935,84.945256,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2258,2023-10-01,2023,3,1481,СБЕРБАНК РОССИИ,27.028454,19.751961,0.206293,0.055155,0.999634,1.044420,1.937010,2.382607,0.573223,6.064580,6.948172,0.035871,3.587060,95.746894,0.798909,34.961288,77.627583,13.026,53.227,92.340,77.335,84.945256,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2259,2024-01-01,2023,4,1481,СБЕРБАНК РОССИИ,27.135987,23.832522,0.244959,0.043774,1.000738,1.027836,1.861285,2.251358,0.583343,6.167548,6.467622,0.034748,3.474816,97.291798,0.574228,42.658846,78.395870,13.212,93.990,107.201,78.883,84.945256,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [377]:
## первый квартал 2024
print(data_2022_im[(data_2022_im['year'] == 2024) & (data_2022_im['quarter'] == 1)][cols_to_update].isna().sum())
data_2022_im[(data_2022_im['year'] == 2024) & (data_2022_im['quarter'] == 1) & (data_2022_im['REGN'] == 1481)].head()

Asset_Turnover_YoY       197
Bank_Size_YoY            197
CAR_YoY                  197
CIR_YoY                  197
LTD_YoY                  197
Leverage_YoY             197
NIM_YoY                  197
NPLR_YoY                 197
Net_Profit_Margin_YoY    197
ROA_YoY                  197
ROE_YoY                  197
Tax_Burder_YoY           197
Z-score_YoY              197
Z-score_RWA_YoY          197
dep_to_assets_YoY        197
deposit_share_YoY        197
loan_share_YoY           197
Н1.0_YoY                 197
Н2_YoY                   197
Н3_YoY                   197
Н4_YoY                   197
Н7_YoY                   197
dtype: int64

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,sys_importance,SDN-list_2014,SSI-list_2014,SWIFT,SDN-list_2022,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS,Asset_Turnover_YoY,Bank_Size_YoY,CAR_YoY,CIR_YoY,LTD_YoY,Leverage_YoY,NIM_YoY,NPLR_YoY,Net_Profit_Margin_YoY,ROA_YoY,ROE_YoY,Tax_Burder_YoY,Z-score_YoY,Z-score_RWA_YoY,dep_to_assets_YoY,deposit_share_YoY,loan_share_YoY,Н1.0_YoY,Н2_YoY,Н3_YoY,Н4_YoY,Н7_YoY
2260,2024-04-01,2024,1,1481,СБЕРБАНК РОССИИ,26.724017,5.618207,0.090155,0.009788,1.003311,1.604693,1.772461,2.451827,0.776777,6.105306,9.926677,0.056005,5.600506,62.317211,0.82928,10.87148,81.231031,13.231,225.345,122.33,75.472,84.945256,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [379]:
# Проверка бесконечностей:
numeric_cols = data_2022_im.select_dtypes(include=['float64', 'int64']).columns
df_numeric = data_2022_im[numeric_cols]

mask = np.isinf(df_numeric).any(axis=1)
result = df_numeric[mask]
result
# data_2014_cl = data_2014_cl.replace([np.inf, -np.inf], np.nan)

Empty DataFrame
Columns: [year, quarter, REGN, Bank_Size, ROE, ROA, NIM, CIR, CAR, LTD, NPLR, Z-score, Z-score_RWA, loan_share, deposit_share, dep_to_assets, Leverage, Net_Profit_Margin, Asset_Turnover, Tax_Burder, Н1.0, Н2, Н3, Н4, Н7, sys_importance, SDN-list_2014, SSI-list_2014, SWIFT, SDN-list_2022, SANCTIONS_2014, SANCTIONS_2022, SANCTIONS, Asset_Turnover_YoY, Bank_Size_YoY, CAR_YoY, CIR_YoY, LTD_YoY, Leverage_YoY, NIM_YoY, NPLR_YoY, Net_Profit_Margin_YoY, ROA_YoY, ROE_YoY, Tax_Burder_YoY, Z-score_YoY, Z-score_RWA_YoY, dep_to_assets_YoY, deposit_share_YoY, loan_share_YoY, Н1.0_YoY, Н2_YoY, Н3_YoY, Н4_YoY, Н7_YoY]
Index: []

In [381]:
print(data_2022_im.shape)
data_2022_im = data_2022_im[data_2022_im.year >=2019]
print(data_2022_im.shape)

(7332, 57)
(4361, 57)

In [383]:
print(data_2022_im.shape)
MISSING = (data_2022_im.isna().sum() / len(data_2022_im))*100
MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
MISSING['Missing_count'] = data_2022_im.isna().sum()
MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
MISSING[MISSING.Missing_count>0]

(4361, 57)

                       Share_of_missing, %  Missing_count
Net_Profit_Margin_YoY                26.28           1146
Asset_Turnover_YoY                   25.84           1127
ROE_YoY                              25.54           1114
Bank_Size_YoY                        25.54           1114
CAR_YoY                              25.54           1114
CIR_YoY                              25.54           1114
LTD_YoY                              25.54           1114
Leverage_YoY                         25.54           1114
NIM_YoY                              25.54           1114
NPLR_YoY                             25.54           1114
ROA_YoY                              25.54           1114
Н7_YoY                               25.54           1114
Tax_Burder_YoY                       25.54           1114
Н3_YoY                               25.54           1114
Н4_YoY                               25.54           1114
Z-score_RWA_YoY                      25.54           1114
dep_to_assets_YoY                    25.54           1114
deposit_share_YoY                    25.54           1114
loan_share_YoY                       25.54           1114
Z-score_YoY                          25.54           1114
Н1.0_YoY                             25.54           1114
Н2_YoY                               25.54           1114
Net_Profit_Margin                     0.92             40
Asset_Turnover                        0.39             17

In [385]:
print(data_2022_im.year.unique())
data_2022_im[data_2022_im.year == 2023]

[2019 2020 2021 2023 2024]

,DATE,year,quarter,REGN,BANK,Bank_Size,ROE,ROA,NIM,CIR,CAR,LTD,NPLR,Z-score,Z-score_RWA,loan_share,deposit_share,dep_to_assets,Leverage,Net_Profit_Margin,Asset_Turnover,Tax_Burder,Н1.0,Н2,Н3,Н4,Н7,sys_importance,SDN-list_2014,SSI-list_2014,SWIFT,SDN-list_2022,SANCTIONS_2014,SANCTIONS_2022,SANCTIONS,Asset_Turnover_YoY,Bank_Size_YoY,CAR_YoY,CIR_YoY,LTD_YoY,Leverage_YoY,NIM_YoY,NPLR_YoY,Net_Profit_Margin_YoY,ROA_YoY,ROE_YoY,Tax_Burder_YoY,Z-score_YoY,Z-score_RWA_YoY,dep_to_assets_YoY,deposit_share_YoY,loan_share_YoY,Н1.0_YoY,Н2_YoY,Н3_YoY,Н4_YoY,Н7_YoY
16,2023-07-01,2023,2,1,ЮНИКРЕДИТ БАНК,22.642190,6.484180,0.275653,0.054330,1.020137,4.251168,1.561109,6.296795,2.074717,18.842153,5.849977,0.037473,3.747322,23.522947,1.514989,15.873663,77.551996,40.836,156.600000,338.194,18.763000,113.948047,1.00,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2023-07-01,2023,2,2,ВИКИНГ,15.097425,2.533680,0.498622,0.123212,1.076524,19.679753,1.677921,4.220570,9.248084,20.401790,26.993968,0.160877,16.087748,5.081365,0.846031,52.813753,95.483048,44.016,100.723103,180.504,15.598276,47.445862,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2023-10-01,2023,3,2,ВИКИНГ,15.346585,2.468826,0.383332,0.123212,1.076524,15.526911,0.924102,4.243836,7.291929,19.621602,20.925232,0.226438,22.643848,6.440431,0.846031,52.813753,87.464219,42.429,100.723103,130.664,15.598276,47.445862,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2024-01-01,2023,4,2,ВИКИНГ,15.459962,3.119449,0.424957,0.210056,1.099239,13.622822,1.339561,4.591193,6.438330,20.203951,17.268877,0.128914,12.891444,7.340623,0.849409,50.029711,75.431921,43.658,100.723103,119.627,15.598276,47.445862,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,2023-07-01,2023,2,53,АЛЕКСАНДРОВСКИЙ,16.859668,7.817933,1.053866,0.124761,1.342537,13.480105,0.670430,5.702416,6.661160,7.694157,33.467709,0.499198,49.919790,7.418340,1.230598,22.641566,87.251337,15.734,50.003000,154.064,11.537000,335.599442,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7323,2023-07-01,2023,2,3531,ЦМРБАНК,17.333619,1.318129,0.267590,1.117308,1.677647,20.300769,144.511605,0.540572,9.426820,20.139160,6.001072,0.052104,0.041527,4.925922,17.956524,16.828123,69.279967,43.674,97.938000,154.138,1.572000,100.219059,0.01,1.0,0.0,0.0,0.0,1.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7324,2023-10-01,2023,3,3531,ЦМРБАНК,17.386100,-5.351662,-0.956065,1.117308,1.677647,17.864827,51.709631,0.072579,7.749566,17.844068,10.712231,0.252220,0.207161,5.597591,17.956524,16.828123,125.526287,39.890,86.317000,123.438,2.581000,100.219059,0.01,1.0,0.0,0.0,0.0,1.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7325,2024-01-01,2023,4,3531,ЦМРБАНК,17.455741,-9.177514,-1.465712,0.271932,1.084542,15.970685,12.018315,0.143833,6.647870,18.769113,9.386629,0.929470,0.781027,6.261472,-2.912231,50.329518,169.499525,42.418,95.379000,119.712,4.434000,100.219059,0.01,1.0,0.0,0.0,0.0,1.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7330,2023-07-01,2023,2,3545,ТОЧКА,18.926385,16.030845,0.813646,1949.883755,2.485932,5.075502,0.000828,53.742445,2.699094,12.578795,0.001297,0.015674,1.567406,19.702485,13.187723,8.793406,100.009562,26.632,99.831000,99.550,32.082000,0.010000,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7331,2023-10-01,2023,3,3545,ТОЧКА,19.352348,35.565124,1.513036,1949.883755,2.485932,4.254269,0.000051,69.261662,2.643252,11.050030,0.001275,0.248069,24.806897,23.505801,13.187723,8.793406,103.091288,22.597,124.230000,103.097,30.554000,0.010000,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [387]:
## Удалим строки, где пропуски в важных переменных
print(data_2022_im[data_2022_im.isna().any(axis=1)].shape)
data_2022_im = data_2022_im.dropna(subset=['Bank_Size_YoY', 'CAR_YoY', 'CIR_YoY',
       'Leverage_YoY', 'NIM_YoY', 'NPLR_YoY', 'ROA_YoY', 'ROE_YoY', 'Z-score_YoY',
       'Z-score_RWA_YoY', 'dep_to_assets_YoY', 'deposit_share_YoY','loan_share_YoY', 'Н1.0_YoY', 'Н2_YoY', 'Н3_YoY', 'Н4_YoY'])
print(data_2022_im[data_2022_im.isna().any(axis=1)].shape)
data_2022_im.shape

(1146, 57)
(32, 57)

(3247, 57)

In [389]:
print(data_2022_im.shape)
MISSING = (data_2022_im.isna().sum() / len(data_2022_im))*100
MISSING = pd.DataFrame(round(MISSING, 2), columns = ['Share_of_missing, %'])
MISSING['Missing_count'] = data_2022_im.isna().sum()
MISSING = MISSING.sort_values(by='Share_of_missing, %', ascending=False)
MISSING[MISSING.Missing_count>0]

(3247, 57)

                       Share_of_missing, %  Missing_count
Net_Profit_Margin_YoY                 0.99             32
Net_Profit_Margin                     0.99             32
Asset_Turnover_YoY                    0.40             13
Asset_Turnover                        0.40             13

In [206]:
# print(data_2022_im[data_2022_im.isna().any(axis=1)].shape)
# data_2022_im = data_2022_im.dropna(subset=['Asset_Turnover_YoY', 'Net_Profit_Margin_YoY','Asset_Turnover', 'Net_Profit_Margin', 
#                                           'Tax_Burder_YoY', ])

# print(data_2022_im[data_2022_im.isna().any(axis=1)].shape)
# data_2022_im.shape

In [391]:
print(data_2022_im.shape)
print(data_2022_im[data_2022_im.isna().any(axis=1)].shape)
# data_2022_im = data_2022_im.dropna()
print(data_2022_im.shape)

(3247, 57)
(32, 57)
(3247, 57)

In [393]:
imputed_2022 = data_2022_im
imputed_2022.to_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\imputed_2022.csv', index=False)

In [395]:
imputed_2022[imputed_2022.isna().any(axis=1)].shape

(32, 57)

In [397]:
data_2022_im.year.unique()

array([2019, 2020, 2021, 2024], dtype=int64)

# Финальные датасеты (чистый и с заполненными пропусками)

In [177]:
clean_2014 = data_2014_cl
clean_2014.to_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\clean_2014.csv', index=False)
clean_2022 = data_2022_cl
clean_2022.to_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\clean_2022.csv', index=False)
imputed_2014 = data_2014_im
imputed_2014.to_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\imputed_2014.csv', index=False)
imputed_2022 = data_2022_im
imputed_2022.to_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\imputed_2022.csv', index=False)

In [5]:
clean_2014 = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\clean_2014.csv')
clean_2022 = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\clean_2022.csv')
imputed_2014 = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\imputed_2014.csv')
imputed_2022 = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\imputed_2022.csv')

In [7]:
imputed_2014.year.unique()

array([2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [97]:
print('Осталоed_2022 = pd.read_csv(r'C:\Users\annaz\Documents\Диплом\Выборки для R\imputed_2022.csv')сь наблюдений в обработанных данных после заполнения пропусков, удаления выбросов и сглаживании сезонности:')
print('2011-2018:  ', imputed_2014.shape)
print('2019-2024:  ', imputed_2022.shape)
imputed_2022.year.unique()

Осталось наблюдений в обработанных данных после заполнения пропусков, удаления выбросов и сглаживании сезонности:
2011-2018:   (17752, 67)
2019-2024:   (4318, 67)

array([2019, 2020, 2021, 2023, 2024], dtype=int64)

In [99]:
print('Осталось наблюдений в чистых данных после удаления выбросов и сглаживании сезонности:')
print('2011-2018:  ', clean_2014.shape)
print('2019-2024:  ', clean_2022.shape)
clean_2022.year.unique()

Осталось наблюдений в чистых данных после удаления выбросов и сглаживании сезонности:
2011-2018:   (13536, 67)
2019-2024:   (2519, 67)

array([2019, 2020, 2021, 2024, 2023], dtype=int64)